<!DOCTYPE html>
<html lang="en">

<head>
	<% include layouts/header %>
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
	<div class="wrapper theme-5-active pimary-color-green">
		
		<% include layouts/menu %>

		<!-- Main Content -->
		<div class="page-wrapper" style="min-height: 435px;">
			<div class="container-fluid pt-25">
				<!-- Row -->
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">914,001</span>
													</span>
													<span class="weight-500 uppercase-font block font-13">Người dùng</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">914,001</span>
													</span>
													<span class="weight-500 uppercase-font block">Tổng số đơn hàng</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-basket-loaded data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">914,001</span>
													</span>
													<span class="weight-500 uppercase-font block">Tổng số sản phẩm</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-screen-smartphone data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">4,054,876</span>
													</span>
													<span class="weight-500 uppercase-font block">Số lượt truy cập</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-layers data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->

				<!-- Row -->
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Các sản phẩm bán chạy nhất</h6>
								</div>
								<div class="pull-right">
										<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap sm-data-box-2">
										<div class="table-responsive">
											<table class="table table-striped mb-0">
												<thead>
													<tr>
														<th>Tên sản phẩm</th>
														<th>Giá tiền</th>
														<th>Tổng số đơn</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>adidas</td>
														<td>$49,897</td>
														<td>8.61%</td>
													</tr>
													<tr>
														<td>men's park</td>
														<td>$15,478</td>
														<td>2.10%</td>
													</tr>
													<tr>
														<td>nutiva coconut oil</td>
														<td>$23,546</td>
														<td>4.35%</td>
													</tr>
													<tr>
														<td>cart software</td>
														<td>$36,589</td>
														<td>1.58%</td>
													</tr>
													<tr>
														<td>where to buy</td>
														<td>$55,467</td>
														<td>56%</td>
													</tr>
													<tr>
														<td>pink adhesive</td>
														<td>$71,245</td>
														<td>47.6%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Các từ khoá tìm kiếm nhiều nhất</h6>
								</div>
								<div class="pull-right">
										<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap sm-data-box-2">
										<div class="table-responsive">
											<table class="table table-striped mb-0">
												<thead>
													<tr>
														<th>Keyword</th>
														<th>Revenue</th>
														<th>Conversion Rate</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>adidas</td>
														<td>$49,897</td>
														<td>8.61%</td>
													</tr>
													<tr>
														<td>men's park</td>
														<td>$15,478</td>
														<td>2.10%</td>
													</tr>
													<tr>
														<td>nutiva coconut oil</td>
														<td>$23,546</td>
														<td>4.35%</td>
													</tr>
													<tr>
														<td>cart software</td>
														<td>$36,589</td>
														<td>1.58%</td>
													</tr>
													<tr>
														<td>where to buy</td>
														<td>$55,467</td>
														<td>56%</td>
													</tr>
													<tr>
														<td>pink adhesive</td>
														<td>$71,245</td>
														<td>47.6%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-default border-panel  review-box card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Nhận xét mới nhất</h6>
								</div>
								<div class="pull-right">
										<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="streamline">
										<div class="sl-item">
											<div class="sl-content">
												<div class="per-rating inline-block pull-left">
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star-outline"></a>
													<span class="inline-block">for Paleo Bars</span>
												</div>
												<a href="javascript:void(0);" class=" pull-right txt-grey">
													<i class="zmdi zmdi-mail-reply"></i>
												</a>
												<div class="clearfix"></div>
												<div class="inline-block pull-left">
													<span class="reviewer font-13">
														<span>By</span>
														<a href="javascript:void(0)" class="inline-block capitalize-font  mb-5">Jens Brincker</a>
													</span>
													<span class="inline-block font-13  mb-5">11 day ago</span>
												</div>
												<div class="clearfix"></div>
												<p class="mt-5">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
											</div>
										</div>
										<hr class="light-grey-hr">
										<div class="sl-item">
											<div class="sl-content">
												<div class="per-rating inline-block pull-left">
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<span class="inline-block">for Bow Ties</span>
												</div>
												<a href="javascript:void(0);" class=" pull-right txt-grey">
													<i class="zmdi zmdi-mail-reply"></i>
												</a>
												<div class="clearfix"></div>
												<div class="inline-block pull-left">
													<span class="reviewer font-13">
														<span>By</span>
														<a href="javascript:void(0)" class="inline-block capitalize-font  mb-5">Madalyn Rascon</a>
													</span>
													<span class="inline-block font-13  mb-5">11 day ago</span>
												</div>
												<div class="clearfix"></div>
												<p class="mt-5">Neque porro quisquam est qui dolorem ipsum quiipsum quia dolor sit amet.</p>
											</div>
										</div>
										<hr class="light-grey-hr">
										<div class="sl-item">
											<div class="sl-content">
												<div class="per-rating inline-block pull-left">
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star-outline"></a>
													<span class="inline-block">for Pocket Squares</span>
												</div>
												<a href="javascript:void(0);" class=" pull-right txt-grey">
													<i class="zmdi zmdi-mail-reply"></i>
												</a>
												<div class="clearfix"></div>
												<div class="inline-block pull-left">
													<span class="reviewer font-13">
														<span>By</span>
														<a href="javascript:void(0)" class="inline-block capitalize-font  mb-5">Evie Ono</a>
													</span>
													<span class="inline-block font-13  mb-5">13 day ago</span>
												</div>
												<div class="clearfix"></div>
												<p class="mt-5">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.ipsum quia dolor sit amet.</p>
											</div>
										</div>
										<hr class="light-grey-hr">
										<div class="sl-item">
											<div class="sl-content">
												<div class="per-rating inline-block pull-left">
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star"></a>
													<a href="javascript:void(0);" class="zmdi zmdi-star-outline"></a>
													<span class="inline-block">for Wood Sunglasses</span>
												</div>
												<a href="javascript:void(0);" class=" pull-right txt-grey">
													<i class="zmdi zmdi-mail-reply"></i>
												</a>
												<div class="clearfix"></div>
												<div class="inline-block pull-left">
													<span class="reviewer font-13">
														<span>By</span>
														<a href="javascript:void(0)" class="inline-block capitalize-font  mb-5">Evie Ono</a>
													</span>
													<span class="inline-block font-13  mb-5">13 day ago</span>
												</div>
												<div class="clearfix"></div>
												<p class="mt-5">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.ipsum quia dolor sit amet, consectetur.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="panel panel-default border-panel card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Hoạt động gần đây</h6>
								</div>
								<a class="txt-danger pull-right right-float-sub-text inline-block" href="javascript:void(0)"> clear all </a>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper task-panel collapse in">
								<div class="panel-body row pa-0">
									<div class="list-group mb-0">
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-info capitalize-font">just now</span>
											<i class="zmdi zmdi-calendar-check pull-left"></i>
											<p class="pull-left">Calendar updated</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">4 min</span>
											<i class="zmdi zmdi-comment-alert pull-left"></i>
											<p class=" pull-left">Commented on a post</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-warning capitalize-font">23 min </span>
											<i class="zmdi zmdi-truck pull-left"></i>
											<p class=" pull-left">Order 392 shipped</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">46 min</span>
											<i class="zmdi zmdi-money pull-left"></i>
											<p class=" pull-left">Invoice 653 has been paid</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-danger capitalize-font">1 hr</span>
											<i class="zmdi zmdi-account pull-left"></i>
											<p class="pull-left">A new user has been added</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-warning capitalize-font">just now</span>
											<i class="zmdi zmdi-picture-in-picture pull-left"></i>
											<p class=" pull-left">Finance report has been released</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">1 hr</span>
											<i class="zmdi zmdi-device-hub pull-left"></i>
											<p class="pull-left">Web server hardware updated</p>
											<div class="clearfix"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12 col-md-6 col-xs-12">
						<div class="panel panel-default card-view panel-refresh">
							<div class="refresh-container">
								<div class="la-anim-1"></div>
							</div>
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Danh sách đơn hàng gần đây</h6>
								</div>
								<div class="pull-right">
									<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap">
										<div class="table-responsive">
											<div id="datable_1_wrapper" class="dataTables_wrapper no-footer">
												<table id="datable_1" class="table  display table-hover border-none dataTable no-footer" role="grid">
													<thead>
														<tr role="row">
															<th class="sorting_asc" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#Invoice: activate to sort column descending"
															 style="width: 60px;">#Invoice</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending"
															 style="width: 190px;">Description</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending"
															 style="width: 65px;">Amount</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"
															 style="width: 59px;">Status</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="issue date: activate to sort column ascending"
															 style="width: 83px;">issue date</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="due date: activate to sort column ascending"
															 style="width: 83px;">due date</th>
															<th class="sorting" tabindex="0" aria-controls="datable_1" rowspan="1" colspan="1" aria-label="View: activate to sort column ascending"
															 style="width: 33px;">View</th>
														</tr>
													</thead>

													<tbody>







														<tr role="row" class="odd">
															<td class="sorting_1">#5010</td>
															<td>Integration Specialist</td>
															<td>$205,500</td>
															<td>
																<span class="label label-success">paid</span>
															</td>
															<td>2010/10/14</td>
															<td>2014/09/15</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="even">
															<td class="sorting_1">#5011</td>
															<td>Javascript Developer</td>
															<td>$205,500</td>
															<td>
																<span class="label label-success">paid</span>
															</td>
															<td>2009/09/15</td>
															<td>2013/09/15</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															<td class="sorting_1">#5012</td>
															<td>System Architect</td>
															<td>$205,500</td>
															<td>
																<span class="label label-danger">unpaid</span>
															</td>
															<td>2011/04/25</td>
															<td>2012/12/02</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="even">
															<td class="sorting_1">#5013</td>
															<td>Accountant</td>
															<td>$205,500</td>
															<td>
																<span class="label label-success">paid</span>
															</td>
															<td>2011/07/25</td>
															<td>2012/12/02</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="odd">
															<td class="sorting_1">#5014</td>
															<td>Junior Technical Author</td>
															<td>$205,500</td>
															<td>
																<span class="label label-warning">pending</span>
															</td>
															<td>2009/01/12</td>
															<td>2012/12/02</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
														<tr role="row" class="even">
															<td class="sorting_1">#5015</td>
															<td>Senior Javascript Developer</td>
															<td>$205,500</td>
															<td>
																<span class="label label-success">paid</span>
															</td>
															<td>2012/03/29</td>
															<td>2012/12/02</td>
															<td>
																<a href="#">
																	<i class="fa fa-file-text-o" aria-hidden="true"></i>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>2018 © Droopy. Pampered by Alomobile</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<% include layouts/footer %>

</body>

</html>