<!DOCTYPE html>
<html lang="en">

<head>
	<% include layouts/header %>
	<link href="/static/admin/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/static/admin/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
	<div class="wrapper theme-5-active pimary-color-green">

		<% include layouts/menu %>

			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h5 class="txt-dark">Trang quản trị sản phẩm</h5>
						</div>
						<div class="col-lg-3" style="float: right">
							<a class="btn btn-primary" style="float: right" href="/admin/product/add">Thêm sản phẩm</a>
						</div>
					</div>
					<!-- /Title -->

					<!-- Row -->
					<div class="row" id="row_tbl_product">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-wrapper collapse in">
									<div class="panel-body row">
										<div class="table-wrap">
											<div class="table-responsive">
												<table class="table display responsive product-overview mb-30 hover" id="table_products">
													<thead>
														<tr>
															<th>Tên sản phẩm</th>
															<th>Ảnh</th>
															<th>Màu sắc</th>
															<th>Giá nhập</th>
															<th>Giá Bán</th>
															<th>Số lượng</th>
															<th>Trạng thái</th>
															<th style="width: 100px;">Chức năng</th>
														</tr>
													</thead>	
													<tfoot>
														<tr>
															<th>Tên sản phẩm</th>
															<th>Ảnh</th>
															<th>Màu sắc</th>
															<th>Giá nhập</th>
															<th>Giá Bán</th>
															<th>Số lượng</th>
															<th>Trạng thái</th>
															<th style="width: 100px;">Chức năng</th>
														</tr>
													</tfoot>												
													<tbody>
														<!-- ROWS -->
													</tbody>													
												</table>												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
						<p>2018 &copy; Alomobile</p>
						</div>
					</div>
				</footer>
				<!-- /Footer -->

			</div>
			<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->

	<!-- jQuery -->
	<script type="text/javascript" src="/static/admin/libs/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Data table JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/datatables/media/js/jquery.dataTables.min.js"></script>

	<!-- Slimscroll JavaScript -->
	<script type="text/javascript" src="/static/admin/js/jquery.slimscroll.js"></script>

	<!-- Fancy Dropdown JS -->
	<script type="text/javascript" src="/static/admin/js/dropdown-bootstrap-extended.js"></script>

	<!-- Init JavaScript -->
	<script type="text/javascript" src="/static/admin/js/init.js"></script>

	<script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Bootstrap Select JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<script type="text/javascript" src="/static/js/myFunc.js"></script>

	<script type="text/javascript">	

		var tableProducts;

		function confirmDelete(cb) {
			swal({
			   title: "Bạn có muốn xoá không?",
			   text: "Nhấn vào 'Đồng ý' để xoá, không thể phục hồi được sau khi xoá!",
			   icon: "info",
			   buttons: {
				   cancel: true,
				   yes: "Đồng ý"
			   },
		   })
		   	.then((value) => {
			   switch (value) {     
				   case "yes":
					   return cb(true);
					   break;                               
				   default:
					   return cb(false);
					   break;
			   }
		   	}); 
	   	}

		function updateDataProducts(products) {

			if ($('#table_products tbody').find('tr').length > 0) {			
				$('#table_products tbody tr').animate({
					height: 50,
					opacity: 0.1
					}, 500, "swing", function() {
						$(this).remove();
				});
			}			

			var items = '';
			products.forEach(product => {	
				var details = product.details;
				if (details) {
					items += `
					<tr id="${product._id}" data-product-createdAt=${product.created_at} data-color-product=${product.details.color.hex}>
						<td class="txt-dark product-name">
							<a class="txt-dark" href="/${product.alias}-${product._id}" target="_blank" style="text-decoration: none;">${product.name}</a>	
						</td>
						<td class="product-images">`
							if (product.images && product.images.length > 0) {
								items += `<img src="${product.images[0].url}" alt="${product.images[0].alt}" width="80">`
							} else {
								items += "Không có"
							}
						items += `</td>
						`
						//color
						if (details.color) {
							items += `
						<td class="product-colors">
							<div style="background-color: ${details.color.hex}; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; margin-left: 5px ;position: absolute;" title="${details.color.name}">
							</div>
						</td>`
						} else {
							items += `
						<td>Không có</td>
						`
						}

						if (details.basePrice) {
							items += `
						<td>
							<span>${numberWithCommas(details.basePrice)} VNĐ</span>
						</td>`
						} else {
							items += `
						<td>
							<span>Không có</span>
						</td>`
						}

						if (details.price) {
							items += `
						<td>
							<span>${numberWithCommas(details.price)} VNĐ</span>
						</td>`
						} else {
							items += `
						<td>
							<span>không có</span>
						</td>`
						}

						if (details.quantity) {
							items += `
						<td>
							<input type="text" name="qty" class="remaining_quantity" value="${details.quantity}" class="input-group" min="1" aria-label="Quantity">
						</td>`
						} else {
							items += `
						<td>
							<input type="text" name="qty" class="remaining_quantity" value="0" class="input-group" min="1" aria-label="Quantity">
						</td>`
						}

						items += `
						<td>
							<select class="select-status-product" data-style="form-control btn-primary btn-outline">`
								if (product.status) {
									items += `<option value="1" selected>Đang kinh doanh</option><option value="0">Ngừng kinh doanh</option>`							
								} else {
									items += `<option value="1">Đang kinh doanh</option><option value="0" selected>Ngừng kinh doanh</option>`
								} 
							items += `
							</select>	
						</td>
						<td>
							<div class="btn-group">
								<a href="/admin/product/edit?id=${product._id}" title="Edit" class="btn btn-default edit-product">
									<i class="icon-pencil"></i> Edit
								</a>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" style="left: -60%;">
									<li>
										<a href="/${product.alias}-${product._id}" title="Preview" target="_blank">
											<i class="icon-eye"></i> Preview
										</a>
									</li>
									<li>
										<a href="javascript: void(0);" title="Duplicate" class="duplicate_product" data-id-product="${product._id}">
											<i class="fa fa-clone" aria-hidden="true"></i>Duplicate
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="javascript: void(0);" class="delete-product" data-id-product="${product._id}">
											<i class="icon-trash"></i> Delete
										</a>
									</li>
								</ul>								
							</div>						
						</td>
					</tr>`
				}
				
			});

			$('#table_products tbody').append(items)

			/* Bootstrap Select Init*/
			$('.select-status-product').selectpicker();

			tableProducts = $('#table_products').DataTable({
				"language": {
					"lengthMenu": "Hiển thị _MENU_ dòng trên một trang",
					"zeroRecords": "Từ khoá nhập vào không khớp",
					"info": "Đang ở trang thứ _PAGE_ của _PAGES_ trang",
					"infoEmpty": "Dữ liệu hiện không sẵn có",
					"infoFiltered": "(đã lọc từ _MAX_ người dùng hiện có)"
				}
			});;
		}

		jQuery(document).ready(($) => {			

			//load products
			$.get('/api/v1/product/get-products', (data) => {
				if (data.products && data.products.length > 0) {
					updateDataProducts(data.products);
				}
			}).error((err) => {
				swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
			});		


			//delete product
			$("#table_products tbody").delegate('.delete-product', 'click', (e) => {

				e.preventDefault();

				confirmDelete((cb) => {
					if (cb == true) {

						var id = $(e.currentTarget).attr('data-id-product');

						if (!id || id == 'undefined') { return }

						var row = $('#table_products tbody').find(`tr[id="${id}"]`);

						$.ajax({
							url: '/api/v1/product',
							method: 'DELETE',
							data: {
								id: id
							},
							success: (data) => {
								$(row).animate({
									height: 10,
									opacity: 0.1
									}, 500, "swing", function() {
										$(row).remove();
								});
							},
							error: (err) => {
								swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
							}					
						});
					}
				});
			});			

			$("#table_products tbody").delegate('.remaining_quantity', 'change', (e) => {
				var id = $(e.currentTarget.parentElement.parentElement.parentElement).attr('id');
				var color = $(e.currentTarget.parentElement.parentElement.parentElement).attr('data-color-product');
				var quantity = $(e.currentTarget).val();

				if (!id || !color || !quantity) { return }

				$.ajax({
					url: '/api/v1/product/update-quantity',
					method: 'PUT',
					data: {
						id: id,
						color: color,
						quantity: quantity
					},
					success: (data) => {
					},
					error: (err) => {
						swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
					}
				})
			});

			$('#table_products tbody').delegate('select', 'change', (e) => {                      
				var status = Number.parseInt($(e.currentTarget).find('option:selected').val());
				var id = $(e.currentTarget.parentElement.parentElement.parentElement).attr('id');

				if (!id ||  id == 'undefined') { return }

				$.ajax({
					url: '/api/v1/product/update-status',
					method: "PUT",
					data: {
						id: id,
						status: status
					},
					success: (data) => {
						console.log(data);
					},
					error: (err) => {
						swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
					}
				})
				
			});

			$('#table_products tbody').delegate('.duplicate_product', 'click', (e) => {
				var id = $(e.currentTarget).attr('data-id-product');
				if (!id) { return }

				$.ajax({
					url: '/api/v1/product/duplicate',
					method: 'POST',
					data: {
						id: id
					},
					success: (data) => {
						if (data.error || !data.products || data.products.length == 0) {
							swal('Oops', 'Tạo bản sao sản phẩm thất bại.', 'error')
							return
						} 

						var product = data.products[0];

						if (!product) { 
							swal('Oops', 'Tạo bản sao sản phẩm thất bại.', 'error');
							return 
						}

						location.reload();

					},
					error: (err) => {
						swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
					}
				})
			})

			$('#table_products').on('draw.dt', (e) => {
				$("input[class='remaining_quantity']").TouchSpin({
					verticalbuttons: true,
					verticalupclass: 'ti-plus',
					verticaldownclass: 'ti-minus'
				});
			});
		});
	</script>
</body>
<script type="text/javascript" src="/static/admin/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<style>
	.table>tbody>tr>td:not(:last-child), .table>tbody>tr>th:not(:last-child), .table>tfoot>tr>td:not(:last-child), .table>tfoot>tr>th:not(:last-child), .table>thead>tr>td:not(:last-child), .table>thead>tr>th:not(:last-child) {
		padding: 15px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #ddd;
	}

	.table>tbody>tr>td:last-child {
		padding-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
	}

</style>
</html>