<!DOCTYPE html>
<html lang="en">

<head>
	<% include layouts/header %>
</head>

<body>
	<!--Preloader-->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!--/Preloader-->
	<div class="wrapper theme-5-active pimary-color-green">

		<% include layouts/menu %>

			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h5 class="txt-dark">Trang quản trị sản phẩm</h5>
						</div>
						<div class="col-lg-3" style="float: right">
							<a class="btn btn-primary" style="float: right" href="/admin/products/add">Thêm sản phẩm</a>
						</div>
					</div>
					<!-- /Title -->

					<div class="row">
						<div class="col-xs-6 col-xs-offset-2" style="float: right;margin-bottom: 20px;">
							<div class="input-group">
								<input type="text" id="text-search" class="form-control" name="x" placeholder="Nhập từ khoá tìm kiếm...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="search-product">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					</div>

					<!-- Row -->
					<div class="row" id="row_tbl_product">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-wrapper collapse in">
									<div class="panel-body row">
										<div class="table-wrap">
											<div class="table-responsive">
													<div class="row">
															<div class="col-sm-6" style="float: right; margin-right: 10px;" >
																<ul class="pagination" style="float: right; margin-right: 10px;">
																		<li class="page-item prev" data-action="prev" data-current-page=1>
																				<a class="page-link" href="javascript: void(0)" >Previous</a>
																			</li>
																			<li class="page-item next" data-action="next" data-current-page="1">
																				<a class="page-link" href="javascript: void(0)">Next</a>
																			</li>
																</ul>
															</div>
														</div>
												<table class="table display responsive product-overview mb-30" id="table_products">
													<thead>
														<tr>
															<th>Tên sản phẩm</th>
															<th>Ảnh</th>
															<th>Màu sắc</th>
															<th>Giá</th>
															<th>Nhà sản xuất</th>
															<th>Chi tiết sản phẩm</th>
															<th>Ngày thêm</th>
															<th>Trạng thái</th>
															<th>Chức năng</th>
														</tr>
													</thead>
													<tbody>
														<!-- ROWS -->
													</tbody>
												</table>												
											</div>
											<div class="row">
												<div class="col-sm-6" style="float: right; margin-right: 10px;" >
													<ul class="pagination" style="float: right; margin-right: 10px;">
															<li class="page-item prev" data-action="prev" data-current-page=1>
																	<a class="page-link" href="javascript: void(0)" >Previous</a>
																</li>
																<li class="page-item next" data-action="next" data-current-page="1">
																	<a class="page-link" href="javascript: void(0)">Next</a>
																</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>

				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>2018 &copy; Droopy. Pampered by Hencework</p>
						</div>
					</div>
				</footer>
				<!-- /Footer -->

			</div>
			<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<!-- JavaScript -->

	<!-- jQuery -->
	<script type="text/javascript" src="/static/admin/libs/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Data table JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/productorders-data.js"></script>

	<!-- Slimscroll JavaScript -->
	<script type="text/javascript" src="/static/admin/js/jquery.slimscroll.js"></script>

	<!-- Owl JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/owl.carousel/dist/owl.carousel.min.js"></script>

	<!-- Switchery JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/switchery/dist/switchery.min.js"></script>

	<!-- Fancy Dropdown JS -->
	<script type="text/javascript" src="/static/admin/js/dropdown-bootstrap-extended.js"></script>

	<!-- Init JavaScript -->
	<script type="text/javascript" src="/static/admin/js/init.js"></script>

	<script type="text/javascript">

		function updateDataProducts(products) {

			if ($('#table_products tbody').find('tr').length > 0) {			
				$('#table_products tbody tr').animate({
					height: 50,
					opacity: 0.1
					}, 500, "swing", function() {
						$(this).remove();
				});
			}			

			products.forEach(product => {
						
				var brand;
				if (product.brand) {
					brand = product.brand.name || "Không có";
				}

				var colors = ``;

				if (product.colors && product.colors.length > 0) {
					product.colors.forEach((color) => {
						colors += `<div style="background-color: ${color}; border-radius: 50%; width: 20px; height: 20px; display: inline-block; margin: 0px 2px;"></div>`;
					});
				} else {
					colors = "Không có"
				}

				var image = "";

				if (product.images && product.images.length > 0) {
					image = `<img src="${product.images[0].url}" alt="${product.images[0].alt}" width="80">`
				} else {
					image = "Không có"
				}

				var date = new Date(product.created_at);
				var created_at = `${date.getHours()}:${date.getMinutes()} ${date.getDay()}/${date.getMonth()}/${date.getFullYear()}`

				var tr = `
					<tr id="${product._id}">
						<td class="txt-dark product-name">${product.name}</td>
						<td class="product-images">
							${image}
						</td>
						<td class="product-colors">
							<div>
								${colors}	
							</div>														
						</td>
						<td class="product-price">${product.price || "Không có"}</td>
						<td class="product-brand">${brand}</td>
						<td>
							<a href="#">Xem chi tiết</a>
						</td>
						<td class="product-created_at" data-original-time="${product.created_at}">
							${created_at}
						</td>
						<td class="product-status">
							<span class="label label-success font-weight-100">Active</span>
						</td>
						<td>
							<a href="javascript:void(0)" class="text-inverse pr-10 edit-product" title="Edit" data-toggle="tooltip">
								<i class="zmdi zmdi-edit txt-warning"></i>
							</a>
							<a href="javascript:void(0)" class="text-inverse delete-product" title="Delete" data-toggle="tooltip">
								<i class="zmdi zmdi-delete txt-danger"></i>
							</a>
						</td>
					</tr>
				`

				$('#table_products tbody').append(tr)
			});
		}

		jQuery(document).ready(($) => {

			var limit = 15;

			//load products
			$.get('./products/list', (data) => {
				if (data.products && data.products.length > 0) {
					updateDataProducts(data.products);
				}
			}).error((err) => {
				window.console.log(err);
			});

			$(".pagination").delegate("li", "click", (e) => {

				var prevButton = $(e.delegateTarget).find('.prev');
				var nextButton = $(e.delegateTarget).find('.next');
				var currentButton = $(e.currentTarget);

				var currentPage = $(currentButton).attr('data-current-page');
				var currentActionButton = $(currentButton).attr('data-action');

				var lastRow = $('#table_products tbody').find('tr').last();
	
				var lastProductCreated = $(lastRow).find('td.product-created_at').attr('data-original-time');

				if (currentActionButton == 'next') {
					$.get(`./products/list/from/${lastProductCreated}`, (data) => {
						if (data.products && data.products.length > 0) {
							updateDataProducts(data.products);
							$(nextButton).removeAttr('data-current-page').attr('data-current-page', Number.parseInt(currentPage) + 1);
							$(prevButton).removeAttr('data-current-page').attr('data-current-page', Number.parseInt(currentPage) + 1);
						}
					});
				} else {
					if (currentPage == 1) {
						return
					}
					$.get(`./products/list/to/${lastProductCreated}`, (data) => {
						if (data.products && data.products.length > 0) {
							updateDataProducts(data.products);

							if (currentPage > 1) {
								$(nextButton).removeAttr('data-current-page').attr('data-current-page', Number.parseInt(currentPage) - 1);
								$(prevButton).removeAttr('data-current-page').attr('data-current-page', Number.parseInt(currentPage) - 1);
							}
						}
					});
				}				
			});

			$('#search-product').click((e) => {
				var text = $("#text-search").val();

				if (!text || (text.trim()).length == 0) {
					return
				}

				$.get(`./product/search/text=${text.trim()}`, (data) => {
					var products = data.products;					
					updateDataProducts(products);					
				});
			});

			$("#text-search").keypress((e) => {
				var text = $("#text-search").val();

				if (!text || (text.trim()).length == 0) {
					return
				}

				$.get(`./product/search/text=${text.trim()}`, (data) => {
					var products = data.products;					
					updateDataProducts(products);					
				});
			});

			//delete product
			$("#table_products tbody").delegate('.delete-product', 'click', (e) => {
				var row = $(e.currentTarget.parentElement.parentElement);

				var id = $(row).attr('id');

				if (!id || id == 'undefined') {
					return
				}

				$.ajax({
					url: './product/delete',
					method: 'DELETE',
					data: {
						id: id
					},
					success: (data) => {
						$(row).remove();
						window.console.log(data);
					},
					error: (error) => {
						window.console.log(error);
					}					
				});

			});

			//edit product
			$("#table_products tbody").delegate('.edit-product', 'click', (e) => {
				
			});
		});
	</script>

</body>

</html>