<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Trang đăng nhập - Alomobile Management</title>
		<meta name="description" content="Droopy is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Droopy Admin, Droopyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="/static/admin/libs/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>
				
		<!-- Custom CSS -->
        <link href="/static/admin/css/style.css" rel="stylesheet" type="text/css">
        
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper  pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="/admin/">
						<img class="brand-img mr-10" src="/static/admin/img/logo.png" alt="brand"/>
						<span class="brand-text">Alomobile</span>
					</a>
				</div>
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Đăng nhập vào trang quản trị Alomobile</h3>
											<h6 class="text-center nonecase-font txt-grey">Nhập tài khoản của bạn vào để đăng nhập</h6>
										</div>	
										<div class="form-wrap">
											<form action="#">
												<div class="form-group">
													<label class="control-label mb-10" for="email">Địa chỉ Email</label>
													<input type="email" class="form-control" required="" id="email" placeholder="Enter email">
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="password">Mật khẩu</label>
													<a class="capitalize-font txt-primary block mb-10 pull-right font-12" href="/admin/forgot-password">Quên mật khẩu ?</a>
													<div class="clearfix"></div>
													<input type="password" class="form-control" required="" id="password" placeholder="Enter password">
												</div>
												<div class="form-group text-center">
													<button type="submit" class="btn btn-success  btn-rounded">Đăng nhập</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script type="text/javascript" src="/static/admin/libs/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script type="text/javascript" src="/static/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/admin/libs/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script type="text/javascript" src="/static/admin/js/jquery.slimscroll.js"></script>
		
		<!-- Init JavaScript -->
		<script type="text/javascript" src="/static/admin/js/init.js"></script>

		<script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

		<script type="text/javascript">

			function showNotify(text, type) {
				switch (type) {
					case "incorrect":
						swal({
							title: "Có lỗi xảy ra",
							text: text,
							icon: "error",
							button: "Thử lại",
						}); 
						break;
					case "lostEmail":
						swal({
							title: "Có lỗi xảy ra",
							text: "Vui lòng nhập email",
							icon: "error",
							button: "Đã rõ",
						}); 
						break;
					case "lostPassword":
					swal({
							title: "Có lỗi xảy ra",
							text: "Vui lòng nhập mật khẩu",
							icon: "error",
							button: "Đã rõ",
						}); 
						break;
					default:	//no allows permission
						swal({
                                    title: "Đăng nhập thất bại",
                                    text: text,
                                    icon: "error",
                                    buttons: {
                                        cancel: "Quay về trang bán hàng",
                                        reTry: "Thử lại tài khoản khác",
                                    },
                                })
                                .then((value) => {
                                    switch (value) {                                    
                                        case "reTry":
                                            window.location.reload()
                                            break;                                    
                                        default:
                                            window.location.href = '/'
                                            break;
                                    }
                                }); 
						break;
				}
			}
		
			$(document).ready(($) => {
				//validate parameters
				$('form').submit((e) => {

					e.preventDefault();

					var email = $('#email').val(),
						password = $('#password').val();

					if (!email || email == 'undefined') {
						showNotify('', 'lostEmail');
						return
					}

					if (!password || password == 'undefined') {
						showNotify('', 'lostPassword');
						return
					}

					$.post('/admin/sign-in', {
						email: email,
						password: password
					}, (data) => {
						window.console.log(data);
						if (data.error) {
							showNotify(data.error, data.errorType);
							return
						} else {
							window.location.href = '/admin'
						}
					}).error((err) => {
						window.console.log(err);
						swal({
							title: "Có lỗi xảy ra",
							text: err,
							icon: "error",
							button: "Thử lại",
						}); 
					});

				});
			});
			
		</script>
	</body>
</html>
