<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
    <tbody>
        <tr>
            <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px">
                    <tbody>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" style="line-height:0">
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="bottom" id="headerImage">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#FFFFFF" width="100%" style="padding:0">
                                                <div style="color:#fff;font-size:11px">Tổng giá trị đơn hàng là
                                                    <span class="price total_order">779.000,00&nbsp;₫</span>. Vận chuyển Tiết Kiệm (dự kiến giao hàng từ 3 - 5 ngày làm việc
                                                    ) - Miễn phí vận chuyển</div>
                                                <a style="border:medium none;text-decoration:none;color:#007ed3" href="" target="_blank">
                                                    <img alt="Alomobile.tech" src="http://alomobile.tech/static/img/logo-2.png" style="border:none;outline:none;text-decoration:none;display:inline;height:auto"
                                                        class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr style="background:#fff">
                            <td align="left" width="600" height="auto" style="padding:15px">
                                <table>
                                    <tbody>
                                        <tr>

                                            <td>
                                                <h1 style="font-size:14px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0">Đơn hàng đã sẵn sàng để giao đến quý khách  <span class="fullname_order">Thanh Di</span>!
                                                </h1>
                                                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    Chúng tôi vừa bàn giao đơn hàng của quý khách đến đối tác vận chuyển. Dự kiến giao hàng đến quý khách từ 3 đến 5 ngày. 
                                                </p>
                                                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    Để kiểm tra thời gian giao hàng của đối tác vận chuyển, quý khách vui lòng
                                                    <a style="color:#00a3dd;text-decoration:underline" href="javascript: void(0)" target="_blank">
                                                        <strong>Xem tại đây</strong>
                                                    </a>.
                                                </p>
                                                <div style="margin:auto">
                                                    <a href="" style="display:inline-block;text-decoration:none;background-color:#00b7f1!important;margin-right:30px;text-align:center;border-radius:3px;color:#fff;padding:5px 10px;font-size:12px;font-weight:bold;margin-left:35%;margin-top:5px"
                                                        target="_blank">Kiểm tra trạng thái đơn hàng</a>
                                                </div>

                                                <h3 style="font-size:13px;font-weight:bold;color:#02acea;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd">Thông tin đơn hàng #<span class="id_order"></span>
                                                    <span style="font-size:12px;color:#777;text-transform:none;font-weight:normal" class="date_order"></span>
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">Thông tin thanh toán</th>
                                                            <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">Địa chỉ giao hàng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                <span style="text-transform:capitalize" class="fullname_order">Trần Đặng Ngọc Thanh</span>
                                                                <br>
                                                                <a class="email_order" href="" target="_blank">trandangngocthanh@gmail.com</a>
                                                                <br> <span class="phone_order">01696691673</span>
                                                            </td>

                                                            <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;border-left:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                <span class="fullname_order" >01696691673</span>
                                                                <br> <span class="fullAddress_order">VP Foody tầng 5, Tòa nhà STS,</span>  
                                                                <br> Phone: <span class="phone_order"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" style="padding:7px 9px 0px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444"
                                                                colspan="2">
                                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:normal">
                                                                    <br>
                                                                    <strong>Phí vận chuyển: </strong>0đ (Miễn phí)

                                                                    <br>
                                                                    <strong>Phương thức thanh toán: </strong>
                                                                    <span class="shipping_method_order"></span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 style="text-align:left;margin:10px 0;border-bottom:1px solid #ddd;padding-bottom:5px;font-size:13px;color:#02acea">CHI TIẾT ĐƠN HÀNG</h2>
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#f5f5f5" >
                                                    <thead>
                                                        <tr>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Sản phẩm</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">
                                                               Màu sắc</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">
                                                                Đơn giá</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Số lượng</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Giảm giá</th>
                                                            <th align="right" bgcolor="#02acea" style="padding:6px 9px;color:#fff;text-transform:uppercase;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Tổng tạm</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody bgcolor="#eee" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px" id="table_product">                                                        
                                                    </tbody>        
                                                    <tfoot style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                        <tr>
                                                            <td colspan="4" align="right" style="padding:5px 9px">Tổng giá trị sản phẩm chưa giảm</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span class="price">779.000,00&nbsp;₫</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" align="right" style="padding:5px 9px">Giảm giá Phiếu Quà Tặng</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span class="price">0,00&nbsp;₫</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" align="right" style="padding:5px 9px">Chi phí vận chuyển</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span class="price">0,00&nbsp;₫</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" align="right" style="padding:5px 9px">Phí xử lý đơn hàng</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span class="price">0,00&nbsp;₫</span>
                                                            </td>
                                                        </tr>
                                                        <tr bgcolor="#eee">
                                                            <td colspan="4" align="right" style="padding:7px 9px">
                                                                <strong>
                                                                    <big>Tổng giá trị đơn hàng</big>
                                                                </strong>
                                                            </td>
                                                            <td align="right" style="padding:7px 9px">
                                                                <strong>
                                                                    <big>
                                                                        <span class="price">779.000,00&nbsp;₫</span>
                                                                    </big>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    Bạn cần được hỗ trợ ngay? Chỉ cần truy cập
                                                    <a href="http://alomobile.tech"
                                                        style="color:#099202;text-decoration:none" target="_blank" >
                                                        <strong>support@alomobile.tech</strong>
                                                    </a>, hoặc gọi số điện thoại
                                                    <strong style="color:#099202">1900 6035</strong> (8-21h cả T7,CN). Đội ngũ Alomobile Care luôn sẵn sàng
                                                    hỗ trợ bạn bất kì lúc nào.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#444;font-weight:bold">
                                                    Một lần nữa Alomobile.tech cảm ơn quý khách.
                                                    <br>
                                                </p>
                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;text-align:right">
                                                    <strong>
                                                        <a style="color:#00a3dd;text-decoration:none;font-size:14px" href="#"
                                                            target="_blank">Alomobile.tech</a>
                                                    </strong>
                                                    <br>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table width="600">
                    <tbody>
                        <tr>
                            <td>
                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;color:#4b8da5;padding:10px 0;margin:0px;font-weight:normal"
                                    align="left">
                                    Quý khách nhận được email này vì đã mua hàng tại Alomobile.tech.
                                    <br> Để chắc chắn luôn nhận được email thông báo, xác nhận mua hàng từ Alomobile.tech, quý khách
                                    vui lòng thêm địa chỉ
                                    <strong>
                                        <a href="mailto:support@alomobile.tech" target="_blank">support@alomobile.tech</a>
                                    </strong> vào số địa chỉ (Address Book, Contacts) của hộp email.
                                    <br>
                                    <b>Văn phòng Alomobile.tech:</b>
                                    <a href="https://maps.google.com/?q=52+%C3%9At+T%E1%BB%8Bch,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+T%C3%A2n+B%C3%ACnh,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;entry=gmail&amp;source=g">52 Út Tịch, Phường 4, Quận Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>