<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
    <tbody>
        <tr>
            <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px">
                    <tbody>
                        <tr>
                            <td align="center" valign="bottom" id="headerImage">
                                <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:3px solid #00b7f1;padding-bottom:10px;background-color:#fff">
                                    <tbody>
                                        <tr>
                                            <td valign="top" bgcolor="#FFFFFF" width="100%" style="padding:0">
                                                <div style="color:#f2f2f2;background-color:f2f2f2;font-size:11px">Tổng giá trị đơn hàng là <span class="total_order"></span>
                                                </div>
                                                <a style="border:medium none;text-decoration:none;color:#007ed3;margin:0px 120px 0px 20px" href="" target="_blank">
                                                    <img src="https://alomobile.tech/static/img/logo-2.png"
                                                        class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="background:#fff">
                            <td align="left" width="600" height="auto" style="padding:15px">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="" style="display:inline-block;margin-bottom:20px" target="_blank">
                                                    <img src="https://alomobile.tech/static/img/banner-2.jpg"
                                                        alt="banner" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h1 style="font-size:17px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0">
                                                    Cảm ơn quý khách <span class="fullname_order"></span> đã đặt hàng tại Alomobile.tech,
                                                </h1>
                                                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    Alomobile.tech rất vui thông báo đơn hàng #<span class="id_order"></span> của quý khách đã được tiếp nhận và đang trong quá trình xử lý. Alomobile sẽ thông
                                                    báo đến quý khách ngay khi hàng chuẩn bị được giao.
                                                </p>

                                                <h3 style="font-size:13px;font-weight:bold;color:#02acea;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd">
                                                    Thông tin đơn hàng #<span class="id_order"></span>
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                                                Thông tin thanh toán
                                                            </th>
                                                            <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                                                Địa chỉ giao hàng </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                <span style="text-transform:capitalize" class="fullname_order"></span>
                                                                <br>
                                                                <a href="mailto:tuanbinhminh1@gmail.com" target="_blank" class="email_order"></a>
                                                                <br>
                                                            </td>
                                                            <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;border-left:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                <span style="text-transform:capitalize" class="fullname_order">
                                                                    </span>
                                                                <br>
                                                                <a href="mailto:tuanbinhminh1@gmail.com" target="_blank" class="email_order">tuanbinhminh1@gmail.com</a>
                                                                <br> <span class="fullAddress_order">292/22 Phan Van Nam, TX> Binh Minh, Tinh Vinh Long, Viet Nam</span>
                                                                <br> Phone: <span class="phone_order"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" style="padding:7px 9px 0px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444"
                                                                colspan="2">
                                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                    <strong>Phương thức thanh toán: </strong>
                                                                    <span class="shipping_method_order"></span>
                                                                    <br>
                                                                    <strong>Thời gian giao hàng dự kiến:</strong>
                                                                    <span class="estimate_time_order">dự kiến giao hàng từ 3 - 5 ngày làm việc.</span>         
                                                                    <br>
                                                                    <strong>Phí vận chuyển: </strong>
                                                                    0&nbsp;₫
                                                                    <br>
                                                                    <br> </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <i>Lưu ý: Đối với đơn hàng đã được thanh toán trước, nhân viên giao nhận
                                                        có thể yêu cầu người nhận hàng cung cấp CMND / giấy phép lái xe để
                                                        chụp ảnh hoặc ghi lại thông tin.</i>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 style="text-align:left;margin:10px 0;border-bottom:1px solid #ddd;padding-bottom:5px;font-size:13px;color:#02acea">
                                                    CHI TIẾT ĐƠN HÀNG</h2>

                                                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#f5f5f5">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Sản phẩm</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Màu sắc</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">
                                                                Đơn giá</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Số lượng</th>
                                                            <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Giảm giá</th>
                                                            <th align="right" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Tổng tạm</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody bgcolor="#eee" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px" id="table_product">
                                                        
                                                    </tbody>
                                                    <tfoot style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                        <tr>
                                                            <td colspan="5" align="right" style="padding:5px 9px">Tổng tạm tính</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span class="subtotal_order">5.609.000&nbsp;₫</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" align="right" style="padding:5px 9px">Phí vận chuyển</td>
                                                            <td align="right" style="padding:5px 9px">
                                                                <span>0&nbsp;₫</span>
                                                            </td>
                                                        </tr>

                                                        <tr bgcolor="#eee">
                                                            <td colspan="5" align="right" style="padding:7px 9px">
                                                                <strong>
                                                                    <big>Tổng giá trị đơn hàng</big>
                                                                </strong>
                                                            </td>
                                                            <td align="right" style="padding:7px 9px">
                                                                <strong>
                                                                    <big>
                                                                        <span class="total_order">5.609.000&nbsp;₫</span>
                                                                    </big>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div style="margin:auto">
                                                    <a href="" style="display:inline-block;text-decoration:none;background-color:#00b7f1!important;margin-right:30px;text-align:center;border-radius:3px;color:#fff;padding:5px 10px;font-size:12px;font-weight:bold;margin-left:35%;margin-top:5px" id="view-detail-order"
                                                        target="_blank">Chi tiết đơn hàng tại Alomobile.tech</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <br>
                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;border:1px #14ade5 dashed;padding:5px;list-style-type:none">
                                                    Từ ngày 12/4/2017, Alomobile sẽ không gởi tin nhắn SMS khi đơn hàng của bạn được xác nhận thành công. Chúng tôi chỉ liên hệ trong
                                                    trường hợp đơn hàng có thể bị trễ hoặc không liên hệ giao hàng được.
                                                </p>

                                                <p style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    Bạn cần được hỗ trợ ngay? Chỉ cần email
                                                    <a href="mailto:support@alomobile.tech" style="color:#099202;text-decoration:none" target="_blank">
                                                        <strong>support@alomobile.tech</strong>
                                                    </a>, hoặc gọi số điện thoại
                                                    <strong style="color:#099202">1900 6035</strong> (8-21h cả T7,CN). Đội ngũ Alomobile Care luôn sẵn sàng
                                                    hỗ trợ bạn bất kì lúc nào.
                                                </p>

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <br>

                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#444;font-weight:bold">
                                                    Một lần nữa Alomobile.tech cảm ơn quý khách.
                                                    <br>

                                                </p>

                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;text-align:right">

                                                    <strong>
                                                        <a style="color:#00a3dd;text-decoration:none;font-size:14px" href="" target="_blank">Alomobile.tech</a>
                                                    </strong>
                                                    <br>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table width="600">
                    <tbody>
                        <tr>
                            <td>
                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;color:#4b8da5;padding:10px 0;margin:0px;font-weight:normal"
                                    align="left">
                                    Quý khách nhận được email này vì đã mua hàng tại Alomobile.tech.
                                    <br> Để chắc chắn luôn nhận được email thông báo, xác nhận mua hàng từ Alomobile, quý khách
                                    vui lòng thêm địa chỉ
                                    <strong>
                                        <a href="mailto:support@alomobile.tech" target="_blank">support@alomobile.tech</a>
                                    </strong> vào số địa chỉ (Address Book, Contacts) của hộp email.
                                    <br>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>