<div style="background-color:#fff;width:650px;font-family:Open-sans,sans-serif;color:#555454;font-size:13px;line-height:18px;margin:auto">
    <table style="width:100%;margin-top:10px">
        <tbody>
            <tr>
                <td style="width:20px;padding:7px 0">&nbsp;</td>
                <td align="center" style="padding:7px 0">
                    <table bgcolor="#ffffff" style="width:100%">
                        <tbody>
                            <tr>
                                <td align="center" style="border-bottom:4px solid #333333;padding:7px 0">
                                    <a title="Alomobile - Trung tâm mua sắm thiết bị điện tử - viễn thông" href="/" style="color:#337ff1" target="_blank">
                                        <img src="http://alomobile.tech/static/img/logo-2.png" alt="Alomobile - Trung tâm mua sắm thiết bị điện tử - viễn thông">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:7px 0">
                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                        <span style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px" id="welcomeFullName"></span>
                                        <br>
                                        <span style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px">Cảm ơn khách hàng đã đăng kí tài khoản trên website chúng tôi - Alomobile - Trung
                                            tâm mua sắm thiết bị điện tử - viễn thông</span>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0!important">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #d6d4d4;background-color:#f8f8f8;padding:7px 0">
                                    <table style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                                <td style="padding:7px 0">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <p style="border-bottom:1px solid #d6d4d4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px">
                                                            Chi tiết thông tin đăng nhập của bạn </p>
                                                        <span style="color:#777">
                                                            Thông tin bao gồm:
                                                            <br>
                                                            <span style="color:#333">
                                                                <strong>Địa chỉ E-mail:
                                                                    <a href="http://alomobile.tech/sign-in" style="color:#337ff1" target="_blank" id="email"></a>
                                                                </strong>
                                                            </span>
                                                        </span>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0!important">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid #d6d4d4;background-color:#f8f8f8;padding:7px 0">
                                    <table style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                                <td style="padding:7px 0">
                                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                                        <p style="border-bottom:1px solid #d6d4d4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px">Những điều quan trọng để bảo về tài khoản của bạn:</p>
                                                        <ol style="margin-bottom:0">
                                                            <li>Luôn giữ thông tin tài khoản của bạn một cách an toàn.</li>
                                                            <li>Không chia sẽ tài khoản cho bất kì ai.</li>
                                                            <li>Thay đổi mật khẩu thường xuyên.</li>
                                                            <li>Nếu bạn nghi ngờ ai đó đang sử dụng tài khoản của bạn bất hợp
                                                                pháp, vui lòng thông báo cho chúng tôi ngay lập tức.
                                                            </li>
                                                        </ol>
                                                    </font>
                                                </td>
                                                <td width="10" style="padding:7px 0">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0!important">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:7px 0">
                                    <font size="2" face="Open-sans, sans-serif" color="#555454">
                                        <span>Bạn có thể tiếp tục mua sắm ngay bây giờ tại địa chỉ:
                                            <a href="http://alomobile.tech" style="color:#337ff1" target="_blank">Alomobile - Trung tâm mua sắm thiết bị điện tử - viễn thông</a>
                                        </span>
                                    </font>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0!important">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-top:4px solid #333333;padding:7px 0">
                                    <span>
                                        <a href="http://alomobile.tech" style="color:#337ff1" target="_blank">Alomobile - Trung tâm mua sắm thiết bị điện tử - viễn thông</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>