<!doctype html>
<html lang="vi">
        <head>
                <title>Login</title>
                
                <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
                <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
                
                <%- include layouts/head %>
                
            </head>

<body id="address" class="lang-en country-us currency-usd layout-full-width page-address tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <nav class="header-nav">
                <div class="container">
                    
                    <div class="user-info-block">
                        <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/tai-khoan-cua-toi" rel="nofollow">My account</a>
                        <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart?action=show">Checkout</a>
                        <a class="logout " href="http://demo.posthemes.com/pos_fastbuy/layout2/en/?mylogout=" rel="nofollow">
          Sign out
        </a>
                        <a class="account" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/tai-khoan-cua-toi" title="View my customer account" rel="nofollow">
          <span class="">Tuan Le</span>
        </a>
                    </div>
                </div>
            </nav>
            <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="header_logo col col-lg-3 col-md-12 col-xs-12">
                                <a href="index.html">
                <img class="logo img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/fastbuy2-responsive-prestashop-theme-logo-15126177682.jpg" alt="Alomobile">
                </a>
                            </div>
                            <div class="col col-xs-12 col-lg-9 col-md-12 display_top">
                                <div class="blockcart cart-preview dropdown js-dropdown" data-refresh-url="//demo.posthemes.com/pos_fastbuy/layout2/en/module/ps_shoppingcart/ajax">
                                    <div class="header" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                        <a rel="nofollow" href="cart.html">
                <span class="item_txt">My Cart <span class="item_count">0</span></span>
                <span class="item_total">$0.00</span>
                </a>
                                    </div>
                                    <div class="body dropdown-menu">
                                        <ul>
                                        </ul>
                                        <div class="price_content">
                                            <div class="cart-subtotals">
                                                <div class="products price_inline">
                                                    <span class="label">Subtotal</span>
                                                    <span class="value">$0.00</span>
                                                </div>
                                                <div class=" price_inline">
                                                    <span class="label"></span>
                                                    <span class="value"></span>
                                                </div>
                                                <div class="shipping price_inline">
                                                    <span class="label">Shipping</span>
                                                    <span class="value">Free</span>
                                                </div>
                                                <div class="tax price_inline">
                                                    <span class="label">Taxes</span>
                                                    <span class="value">$0.00</span>
                                                </div>
                                            </div>
                                            <div class="cart-total price_inline">
                                                <span class="label">Total</span>
                                                <span class="value">$0.00</span>
                                            </div>
                                        </div>
                                        <div class="checkout">
                                            <a href="cart.html" class="btn btn-primary">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- pos search module TOP -->
                                <div id="pos_search_top" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <form method="get" action="http://demo.posthemes.com/pos_fastbuy/layout2/en/search" id="searchbox" class="form-inline form_search" data-search-controller-url="/pos_fastbuy/layout2/modules/possearchproducts/SearchProducts.php">
                                        <label for="pos_query_top">
                                            <!-- image on background -->
                                        </label>
                                        <input type="hidden" name="controller" value="search">
                                        <div class="pos_search form-group">
                                            <select class="bootstrap-select" name="poscats">
                                                <option value="0">All categories</option>
                                                <option value="12">
                                                    Electronics
                                                </option>
                                                <option value="23">
                                                    - - Cameras
                                                </option>
                                                <option value="27">
                                                    - - - - Cords and Cables
                                                </option>
                                                <option value="28">
                                                    - - - - gps accessories
                                                </option>
                                                <option value="29">
                                                    - - - - Microphones
                                                </option>
                                                <option value="30">
                                                    - - - - Wireless Transmitters
                                                </option>
                                                <option value="24">
                                                    - - GamePad
                                                </option>
                                                <option value="31">
                                                    - - - - cube lifestyle hd
                                                </option>
                                                <option value="32">
                                                    - - - - gopro hero4
                                                </option>
                                                <option value="33">
                                                    - - - - handycam cx405
                                                </option>
                                                <option value="34">
                                                    - - - - vixia hf r600
                                                </option>
                                                <option value="25">
                                                    - - Digital Cameras
                                                </option>
                                                <option value="35">
                                                    - - - - Gold eye
                                                </option>
                                                <option value="36">
                                                    - - - - Questek
                                                </option>
                                                <option value="37">
                                                    - - - - Snm
                                                </option>
                                                <option value="38">
                                                    - - - - Vantech
                                                </option>
                                                <option value="26">
                                                    - - Virtual Reality
                                                </option>
                                                <option value="39">
                                                    - - - - Samsung
                                                </option>
                                                <option value="40">
                                                    - - - - Toshiba
                                                </option>
                                                <option value="41">
                                                    - - - - Transcend
                                                </option>
                                                <option value="42">
                                                    - - - - Sandisk
                                                </option>
                                                <option value="13">
                                                    Book
                                                </option>
                                                <option value="43">
                                                    - - Children&#039;s Books
                                                </option>
                                                <option value="45">
                                                    - - - - Early Learning
                                                </option>
                                                <option value="46">
                                                    - - - - Animals
                                                </option>
                                                <option value="47">
                                                    - - - - Action &amp; Adventure
                                                </option>
                                                <option value="48">
                                                    - - - - Education &amp; Reference
                                                </option>
                                                <option value="44">
                                                    - - comic book
                                                </option>
                                                <option value="49">
                                                    - - - - Superhero
                                                </option>
                                                <option value="50">
                                                    - - - - Slice-of-Life
                                                </option>
                                                <option value="51">
                                                    - - - - Humor
                                                </option>
                                                <option value="52">
                                                    - - - - Science-Fiction
                                                </option>
                                                <option value="14">
                                                    Home &amp; Kitchen
                                                </option>
                                                <option value="53">
                                                    - - Large Appliances
                                                </option>
                                                <option value="55">
                                                    - - - - Armchairs
                                                </option>
                                                <option value="56">
                                                    - - - - Bunk Bed
                                                </option>
                                                <option value="57">
                                                    - - - - Mattress
                                                </option>
                                                <option value="58">
                                                    - - - - Sideboard
                                                </option>
                                                <option value="54">
                                                    - - Small Appliances
                                                </option>
                                                <option value="59">
                                                    - - - - Bootees Bags
                                                </option>
                                                <option value="60">
                                                    - - - - Jackets
                                                </option>
                                                <option value="61">
                                                    - - - - Shelf
                                                </option>
                                                <option value="62">
                                                    - - - - Shoes
                                                </option>
                                                <option value="83">
                                                    - - Drinkware
                                                </option>
                                                <option value="85">
                                                    - - - - Tour Drinkware
                                                </option>
                                                <option value="86">
                                                    - - - - Hatch Drinkware
                                                </option>
                                                <option value="87">
                                                    - - - - Direction Drinkware
                                                </option>
                                                <option value="88">
                                                    - - - - Crescent Drinkware
                                                </option>
                                                <option value="84">
                                                    - - Cookware
                                                </option>
                                                <option value="89">
                                                    - - - - Cookware Brands
                                                </option>
                                                <option value="90">
                                                    - - - - Cookware Sets
                                                </option>
                                                <option value="91">
                                                    - - - - Individual Cookware
                                                </option>
                                                <option value="92">
                                                    - - - - Enamel Cookware
                                                </option>
                                                <option value="15">
                                                    Phones &amp; Tablets
                                                </option>
                                                <option value="63">
                                                    - - Tablet
                                                </option>
                                                <option value="65">
                                                    - - - - Samsung
                                                </option>
                                                <option value="66">
                                                    - - - - LG
                                                </option>
                                                <option value="67">
                                                    - - - - Apple
                                                </option>
                                                <option value="68">
                                                    - - - - Sony
                                                </option>
                                                <option value="64">
                                                    - - Smartphone
                                                </option>
                                                <option value="69">
                                                    - - - - Nokia
                                                </option>
                                                <option value="70">
                                                    - - - - Sony
                                                </option>
                                                <option value="71">
                                                    - - - - Apple
                                                </option>
                                                <option value="72">
                                                    - - - - Samsung
                                                </option>
                                                <option value="16">
                                                    Furnitured
                                                </option>
                                                <option value="73">
                                                    - - bedroom
                                                </option>
                                                <option value="75">
                                                    - - - - Bed
                                                </option>
                                                <option value="76">
                                                    - - - - lamp
                                                </option>
                                                <option value="77">
                                                    - - - - Mattress Sets
                                                </option>
                                                <option value="78">
                                                    - - - - Home Office
                                                </option>
                                                <option value="74">
                                                    - - livingroom
                                                </option>
                                                <option value="79">
                                                    - - - - chair
                                                </option>
                                                <option value="80">
                                                    - - - - table
                                                </option>
                                                <option value="81">
                                                    - - - - carpet
                                                </option>
                                                <option value="82">
                                                    - - - - Sofa
                                                </option>
                                                <option value="17">
                                                    Video games
                                                </option>
                                                <option value="18">
                                                    Sport &amp; tourisim
                                                </option>
                                                <option value="19">
                                                    Fruits &amp; Veggies
                                                </option>
                                                <option value="20">
                                                    Computer &amp; Laptop
                                                </option>
                                                <option value="21">
                                                    Meat &amp; Seafood
                                                </option>
                                                <option value="22">
                                                    Accessories
                                                </option>
                                            </select>
                                        </div>
                                        <input type="text" name="s" value="" placeholder="Enter your search key ... " id="pos_query_top" class="search_query form-control ac_input">
                                        <button type="submit" class="btn btn-default search_submit">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </form>
                                </div>
                                <!-- /pos search module TOP -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                        <div class="megamenu">
                            <div class="container">
                                <!-- Block categories module -->
                                <div class="ma-nav-mobile-container hidden-lg-up">
                                    <div class="pt_custommenu_mobile">
                                        <div class="navbar">
                                            <div id="navbar-inner" class="navbar-inner navbar-inactive">
                                                <a class="btn-navbar">Category</a>
                                                <ul id="pt_custommenu_itemmobile" class="tree dhtml  mobilemenu nav-collapse collapse">
                                                    <li><a href="12-electronics.html">Electronics </a>
                                                        <ul class="dhtml">
                                                            <li><a href="23-cameras.html">Cameras </a>
                                                                <ul>
                                                                    <li><a href="27-cords-and-cables.html">Cords and Cables </a>
                                                                        <li><a href="28-gps-accessories.html">gps accessories </a>
                                                                            <li><a href="29-microphones.html">Microphones </a>
                                                                                <li><a href="30-wireless-transmitters.html">Wireless Transmitters </a>
                                                                </ul>
                                                                <li><a href="24-gamepad.html">GamePad </a>
                                                                    <ul>
                                                                        <li><a href="31-cube-lifestyle-hd.html">cube lifestyle hd </a>
                                                                            <li><a href="32-gopro-hero4.html">gopro hero4 </a>
                                                                                <li><a href="33-handycam-cx405.html">handycam cx405 </a>
                                                                                    <li><a href="34-vixia-hf-r600.html">vixia hf r600 </a>
                                                                    </ul>
                                                                    <li><a href="25-digital-cameras.html">Digital Cameras </a>
                                                                        <ul>
                                                                            <li><a href="35-gold-eye.html">Gold eye </a>
                                                                                <li><a href="36-questek.html">Questek </a>
                                                                                    <li><a href="37-snm.html">Snm </a>
                                                                                        <li><a href="38-vantech.html">Vantech </a>
                                                                        </ul>
                                                                        <li><a href="26-virtual-reality.html">Virtual Reality </a>
                                                                            <ul>
                                                                                <li><a href="39-samsung.html">Samsung </a>
                                                                                    <li><a href="40-toshiba.html">Toshiba </a>
                                                                                        <li><a href="41-transcend.html">Transcend </a>
                                                                                            <li><a href="42-sandisk.html">Sandisk </a>
                                                                            </ul>
                                                        </ul>
                                                        </li>
                                                        <li><a href="13-book.html">Book </a>
                                                            <ul class="dhtml">
                                                                <li><a href="43-children-s-books.html">Children&#039;s Books </a>
                                                                    <ul>
                                                                        <li><a href="45-early-learning.html">Early Learning </a>
                                                                            <li><a href="46-animals.html">Animals </a>
                                                                                <li><a href="47-action-adventure.html">Action &amp; Adventure </a>
                                                                                    <li><a href="48-education-reference.html">Education &amp; Reference </a>
                                                                    </ul>
                                                                    <li><a href="44-comic-book.html">comic book </a>
                                                                        <ul>
                                                                            <li><a href="49-superhero.html">Superhero </a>
                                                                                <li><a href="50-slice-of-life.html">Slice-of-Life </a>
                                                                                    <li><a href="51-humor.html">Humor </a>
                                                                                        <li><a href="52-science-fiction.html">Science-Fiction </a>
                                                                        </ul>
                                                            </ul>
                                                            </li>
                                                            <li><a href="14-home-kitchen.html">Home &amp; Kitchen </a>
                                                                <ul class="dhtml">
                                                                    <li><a href="53-large-appliances.html">Large Appliances </a>
                                                                        <ul>
                                                                            <li><a href="55-armchairs.html">Armchairs </a>
                                                                                <li><a href="56-bunk-bed.html">Bunk Bed </a>
                                                                                    <li><a href="57-mattress.html">Mattress </a>
                                                                                        <li><a href="58-sideboard.html">Sideboard </a>
                                                                        </ul>
                                                                        <li><a href="54-small-appliances.html">Small Appliances </a>
                                                                            <ul>
                                                                                <li><a href="59-bootees-bags.html">Bootees Bags </a>
                                                                                    <li><a href="60-jackets.html">Jackets </a>
                                                                                        <li><a href="61-shelf.html">Shelf </a>
                                                                                            <li><a href="62-shoes.html">Shoes </a>
                                                                            </ul>
                                                                            <li><a href="83-drinkware.html">Drinkware </a>
                                                                                <ul>
                                                                                    <li><a href="85-tour-drinkware.html">Tour Drinkware </a>
                                                                                        <li><a href="86-hatch-drinkware.html">Hatch Drinkware </a>
                                                                                            <li><a href="87-direction-drinkware.html">Direction Drinkware </a>
                                                                                                <li><a href="88-crescent-drinkware.html">Crescent Drinkware </a>
                                                                                </ul>
                                                                                <li><a href="84-cookware.html">Cookware </a>
                                                                                    <ul>
                                                                                        <li><a href="89-cookware-brands.html">Cookware Brands </a>
                                                                                            <li><a href="90-cookware-sets.html">Cookware Sets </a>
                                                                                                <li><a href="91-individual-cookware.html">Individual Cookware </a>
                                                                                                    <li><a href="92-enamel-cookware.html">Enamel Cookware </a>
                                                                                    </ul>
                                                                </ul>
                                                                </li>
                                                                <li><a href="15-phones-tablets.html">Phones &amp; Tablets </a>
                                                                    <ul class="dhtml">
                                                                        <li><a href="63-tablet.html">Tablet </a>
                                                                            <ul>
                                                                                <li><a href="65-samsung.html">Samsung </a>
                                                                                    <li><a href="66-lg.html">LG </a>
                                                                                        <li><a href="67-apple.html">Apple </a>
                                                                                            <li><a href="68-sony.html">Sony </a>
                                                                            </ul>
                                                                            <li><a href="64-smartphone.html">Smartphone </a>
                                                                                <ul>
                                                                                    <li><a href="69-nokia.html">Nokia </a>
                                                                                        <li><a href="70-sony.html">Sony </a>
                                                                                            <li><a href="71-apple.html">Apple </a>
                                                                                                <li><a href="72-samsung.html">Samsung </a>
                                                                                </ul>
                                                                    </ul>
                                                                    </li>
                                                                    <li><a href="16-furnitured.html">Furnitured </a>
                                                                        <ul class="dhtml">
                                                                            <li><a href="73-bedroom.html">bedroom </a>
                                                                                <ul>
                                                                                    <li><a href="75-bed.html">Bed </a>
                                                                                        <li><a href="76-lamp.html">lamp </a>
                                                                                            <li><a href="77-mattress-sets.html">Mattress Sets </a>
                                                                                                <li><a href="78-home-office.html">Home Office </a>
                                                                                </ul>
                                                                                <li><a href="74-livingroom.html">livingroom </a>
                                                                                    <ul>
                                                                                        <li><a href="79-chair.html">chair </a>
                                                                                            <li><a href="80-table.html">table </a>
                                                                                                <li><a href="81-carpet.html">carpet </a>
                                                                                                    <li><a href="82-sofa.html">Sofa </a>
                                                                                    </ul>
                                                                        </ul>
                                                                        </li>
                                                                        <li><a href="17-video-games.html">Video games </a>
                                                                        </li>
                                                                        <li><a href="18-sport-tourisim.html">Sport &amp; tourisim </a>
                                                                        </li>
                                                                        <li><a href="19-fruits-veggies.html">Fruits &amp; Veggies </a>
                                                                        </li>
                                                                        <li><a href="20-computer-laptop.html">Computer &amp; Laptop </a>
                                                                        </li>
                                                                        <li><a href="21-meat-seafood.html">Meat &amp; Seafood </a>
                                                                        </li>
                                                                        <li><a href="22-accessories.html">Accessories </a>
                                                                        </li>
                                                                        <li class="cms">
                                                                            <a href="content/1-delivery.html" title="Contains Subs">Delivery</a>
                                                                        </li>
                                                                        <li class="cms">
                                                                            <a href="content/2-legal-notice.html" title="Contains Subs">Legal Notice</a>
                                                                        </li>
                                                                        <li class="cms">
                                                                            <a href="content/3-terms-and-conditions-of-use.html" title="Contains Subs">Terms and conditions of use</a>
                                                                        </li>
                                                                        <li class="cms">
                                                                            <a href="content/4-about-us.html" title="Contains Subs">About us</a>
                                                                        </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Block categories module -->
                                <div class="nav-container hidden-md-down">
                                    <div class="nav-inner">
                                        <div id="pt_custommenu" class="pt_custommenu">
                                            <div id="pt_menu_home" class="pt_menu act">
                                                <div class="parentMenu"><a class="fontcustom2" href="index.html"><span>Home</span></a></div>
                                            </div>
                                            <div class="pt_menu pt_menu_cms">
                                                <div class="parentMenu"><a class="fontcustom2" href="content/1-delivery.html"><span>Delivery</span></a></div>
                                            </div>
                                            <div class="pt_menu pt_menu_cms">
                                                <div class="parentMenu"><a class="fontcustom2" href="content/2-legal-notice.html"><span>Legal Notice</span></a></div>
                                            </div>
                                            <div class="pt_menu pt_menu_cms">
                                                <div class="parentMenu"><a class="fontcustom2" href="content/3-terms-and-conditions-of-use.html"><span>Terms and conditions of use</span></a></div>
                                            </div>
                                            <div class="pt_menu pt_menu_cms">
                                                <div class="parentMenu"><a class="fontcustom2" href="content/4-about-us.html"><span>About us</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                //<![CDATA[
                                var CUSTOMMENU_POPUP_EFFECT = 0;
                                var CUSTOMMENU_POPUP_TOP_OFFSET = 60;
                                //]]>
                                </script>
                            </div>
                        </div>
                    </div>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="3" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/">
                  <span itemprop="name">Home</span>
                </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/tai-khoan-cua-toi">
                  <span itemprop="name">Your account</span>
                </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/addresses">
                  <span itemprop="name">Addresses</span>
                </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
            New address
        </h1>
                            </header>
                            <section id="content" class="page-content">
                                <aside id="notifications">
                                    <div class="container">
                                    </div>
                                </aside>
                                <div class="address-form">
                                    <div class="js-address-form">
                                        <form method="POST" action="//demo.posthemes.com/pos_fastbuy/layout2/en/address?id_address=0" data-id-address="0" data-refresh-url="//demo.posthemes.com/pos_fastbuy/layout2/en/address?ajax=1&amp;action=addressForm">
                                            <section class="form-fields">
                                                <input type="hidden" name="id_address" value="">
                                                <input type="hidden" name="id_customer" value="">
                                                <input type="hidden" name="back" value="">
                                                <input type="hidden" name="token" value="e43f5f8b7d44ff03dffa61df019adb9c">
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label">
                                                        Alias
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="alias" type="text" value="" maxlength="32">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                        Optional
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        First name
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="firstname" type="text" value="Tuan" maxlength="32" required="">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        Last name
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="lastname" type="text" value="Le" maxlength="32" required="">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label">
                                                        Company
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="company" type="text" value="" maxlength="255">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                        Optional
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        Address
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="address1" type="text" value="" maxlength="128" required="">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label">
                                                        Address Complement
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="address2" type="text" value="" maxlength="128">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                        Optional
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        City
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="city" type="text" value="" maxlength="64" required="">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        State
                                                    </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control form-control-select" name="id_state" required="">
                                                            <option value="" disabled="" selected="">-- please choose --</option>
                                                            <option value="1">AA</option>
                                                            <option value="2">AE</option>
                                                            <option value="3">AP</option>
                                                            <option value="4">Alabama</option>
                                                            <option value="5">Alaska</option>
                                                            <option value="6">Arizona</option>
                                                            <option value="7">Arkansas</option>
                                                            <option value="8">California</option>
                                                            <option value="9">Colorado</option>
                                                            <option value="10">Connecticut</option>
                                                            <option value="11">Delaware</option>
                                                            <option value="12">Florida</option>
                                                            <option value="13">Georgia</option>
                                                            <option value="14">Hawaii</option>
                                                            <option value="15">Idaho</option>
                                                            <option value="16">Illinois</option>
                                                            <option value="17">Indiana</option>
                                                            <option value="18">Iowa</option>
                                                            <option value="19">Kansas</option>
                                                            <option value="20">Kentucky</option>
                                                            <option value="21">Louisiana</option>
                                                            <option value="22">Maine</option>
                                                            <option value="23">Maryland</option>
                                                            <option value="24">Massachusetts</option>
                                                            <option value="25">Michigan</option>
                                                            <option value="26">Minnesota</option>
                                                            <option value="27">Mississippi</option>
                                                            <option value="28">Missouri</option>
                                                            <option value="29">Montana</option>
                                                            <option value="30">Nebraska</option>
                                                            <option value="31">Nevada</option>
                                                            <option value="32">New Hampshire</option>
                                                            <option value="33">New Jersey</option>
                                                            <option value="34">New Mexico</option>
                                                            <option value="35">New York</option>
                                                            <option value="36">North Carolina</option>
                                                            <option value="37">North Dakota</option>
                                                            <option value="38">Ohio</option>
                                                            <option value="39">Oklahoma</option>
                                                            <option value="40">Oregon</option>
                                                            <option value="41">Pennsylvania</option>
                                                            <option value="42">Rhode Island</option>
                                                            <option value="43">South Carolina</option>
                                                            <option value="44">South Dakota</option>
                                                            <option value="45">Tennessee</option>
                                                            <option value="46">Texas</option>
                                                            <option value="47">Utah</option>
                                                            <option value="48">Vermont</option>
                                                            <option value="49">Virginia</option>
                                                            <option value="50">Washington</option>
                                                            <option value="51">West Virginia</option>
                                                            <option value="52">Wisconsin</option>
                                                            <option value="53">Wyoming</option>
                                                            <option value="54">Puerto Rico</option>
                                                            <option value="55">US Virgin Islands</option>
                                                            <option value="56">District of Columbia</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        Zip/Postal Code
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="postcode" type="text" value="" maxlength="12" required="">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label required">
                                                        Country
                                                    </label>
                                                    <div class="col-md-6">
                                                        <select class="form-control form-control-select js-country" name="id_country" required="">
                                                            <option value="" disabled="" selected="">-- please choose --</option>
                                                            <option value="21" selected="">United States</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-md-3 form-control-label">
                                                        Phone
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" name="phone" type="text" value="" maxlength="32">
                                                    </div>
                                                    <div class="col-md-3 form-control-comment">
                                                        Optional
                                                    </div>
                                                </div>
                                            </section>
                                            <footer class="form-footer clearfix">
                                                <input type="hidden" name="submitAddress" value="1">
                                                <button class="btn btn-primary float-xs-right" type="submit">
                                                    Save
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/tai-khoan-cua-toi" class="account-link">
          <i class="material-icons"></i>
          <span>Back to your account</span>
        </a>
                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/" class="account-link">
          <i class="material-icons"></i>
          <span>Home</span>
        </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="footer-container">
                <div class=" footer-top">
                    <div class="ft_newsletter">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-6 col-xl-5">
                                    <h2>Sign Up for Newsletters</h2>
                                    <span class="desc">Be the First to Know. Sign up for newsletter today</span>
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-6 col-xl-7">
                                    <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/#footer" method="post">
                                        <div class="input-wrapper">
                                            <input name="email" class="input_txt" type="text" value="" placeholder="Your email address">
                                        </div>
                                        <button class="btn btn-primary" name="submitNewsletter" type="submit"><span>Subscribe !</span></button>
                                        <input type="hidden" name="action" value="0">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                                        <h3 class="h3 hidden-sm-down">Products</h3>
                                        <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_11016" data-toggle="collapse">
                                            <h3 class="h3">Products</h3>
                                            <span class="float-xs-right">
                <span class="navbar-toggler collapse-icons">
                  <i class="material-icons add">keyboard_arrow_down</i>
                  <i class="material-icons remove">keyboard_arrow_up</i>
                </span>
                                            </span>
                                        </div>
                                        <ul id="footer_sub_menu_11016" class="footer_list collapse">
                                            <li>
                                                <a id="link-product-page-prices-drop-1" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/prices-drop" title="On-sale products">
                    Prices drop
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-product-page-new-products-1" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/new-products" title="Our new products">
                    New products
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-product-page-best-sales-1" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/best-sales" title="Our best sales">
                    Best sales
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-static-page-authentication-1" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/login" title="">
                    Login
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-static-page-my-account-1" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/tai-khoan-cua-toi" title="">
                    My account
                  </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                                        <h3 class="h3 hidden-sm-down">Our company</h3>
                                        <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_36870" data-toggle="collapse">
                                            <h3 class="h3">Our company</h3>
                                            <span class="float-xs-right">
                <span class="navbar-toggler collapse-icons">
                  <i class="material-icons add">keyboard_arrow_down</i>
                  <i class="material-icons remove">keyboard_arrow_up</i>
                </span>
                                            </span>
                                        </div>
                                        <ul id="footer_sub_menu_36870" class="footer_list collapse">
                                            <li>
                                                <a id="link-cms-page-1-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/content/1-delivery" title="Our terms and conditions of delivery">
                    Delivery
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-cms-page-2-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/content/2-legal-notice" title="Legal notice">
                    Legal Notice
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-cms-page-3-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/content/3-terms-and-conditions-of-use" title="Our terms and conditions of use">
                    Terms and conditions of use
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-cms-page-4-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/content/4-about-us" title="Learn more about us">
                    About us
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-static-page-contact-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/contact-us" title="Use our form to contact us">
                    Contact us
                  </a>
                                            </li>
                                            <li>
                                                <a id="link-static-page-stores-2" class="cms-page-link" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/stores" title="">
                    Stores
                  </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="block_myaccount_infos" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer_block links">
                                        <h3 class="myaccount-title hidden-sm-down">
            Your account
        </h3>
                                        <div class="title clearfix hidden-md-up" data-target="#footer_account_list" data-toggle="collapse">
                                            <h3 class="myaccount-title">
            Your account
          </h3>
                                            <span class="float-xs-right">
            <span class="navbar-toggler collapse-icons">
              <i class="material-icons add">keyboard_arrow_down</i>
              <i class="material-icons remove">keyboard_arrow_up</i>
            </span>
                                            </span>
                                        </div>
                                        <ul class="footer_list collapse" id="footer_account_list">
                                            <li>
                                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/addresses" title="Addresses" rel="nofollow">
                  Addresses
                </a>
                                            </li>
                                            <li>
                                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/credit-slip" title="Credit slips" rel="nofollow">
                  Credit slips
                </a>
                                            </li>
                                            <li>
                                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/order-history" title="Orders" rel="nofollow">
                  Orders
                </a>
                                            </li>
                                            <li>
                                                <a href="http://demo.posthemes.com/pos_fastbuy/layout2/en/identity" title="Personal info" rel="nofollow">
                  Personal info
                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
                                <div class="about_us ">
                                    <div class="logo_footer"><a href="#"><img src="/pos_fastbuy/layout2/img/cms/logo_footer2.png" alt=""> </a></div>
                                    <div class=" footer-info">
                                        <div class="desc_footer">We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</div>
                                        <div class="address_footer">
                                            <h2>Contact info:</h2>
                                            <p>169-C, Technohub, Dubai Silicon Oasis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="social_follow">
                                    <ul>
                                        <li class="facebook"><a href="https://www.facebook.com/posthemes" target="_blank">Facebook</a></li>
                                        <li class="twitter"><a href="https://twitter.com/posthemes" target="_blank">Twitter</a></li>
                                        <li class="youtube"><a href=" https://www.youtube.com/user/posthemes" target="_blank">YouTube</a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/100616268634541521861/posts" target="_blank">Google +</a></li>
                                        <li class="instagram"><a href="https://www.instagram.com/posthemes9234/" target="_blank">Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag_payment">
                        <div class="container">
                            <div class="tag_content"><a href="#">Online Shopping</a> <a href="#">Promotions</a> <a href="#">My Orders</a> <a href="#">Help</a> <a href="#">Customer Service</a> <a href="#">Support</a> <a href="#">Most Populars</a> <a href="#">New Arrivals</a> <a href="#">Special Products</a> <a href="#">Manufacturers</a> <a href="#">Our Stores</a> <a href="#">Shipping</a> <a href="#">Payments</a> <a href="#">Warantee</a> <a href="#">Refunds</a> <a href="#">Checkout</a> <a href="#">Discount</a> <a href="#">Terms &amp; Conditions</a> <a href="#">Policy</a> <a href="#">Shipping</a> <a href="#">Payments</a> <a href="#">Returns</a> <a href="#">Refunds</a></div>
                            <div class="payment"><img src="/pos_fastbuy/layout2/img/cms/payment.png" alt="" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
                <div class=" footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="copyright col-xs-12 col-sm-12 col-md-6 ">Copyright <i class="icon-copyright"></i> <a href="http://posthemes.com/">Posthemes</a>. All Rights Reserved</div>
                            <div class="links-footer col-xs-12 col-sm-12 col-md-6"><a href="#">home</a> <a href="#">About</a> <a href="#">Shop</a> <a href="#">Contact</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script type="text/javascript" src="http://demo.posthemes.com/pos_fastbuy/layout2/themes/theme_fastbuy2/assets/cache/bottom-4da677.js"></script>
    <div class="back-top" style="display: none;"><a href="#" class="back-top-button"></a></div>
    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
    <div class="adgurd-alert adguard-assistant-button-fixed adguard-assistant-button-bottom adguard-assistant-button-right">
        <div class="adgurd-alert-wrap">
            <div class="adgurd-alert-logo-big"></div>
            <div class="adgurd-alert-cont" style="opacity: 0; display: none;">
                <div class="adgurd-alert-tail"></div>
                <div class="adgurd-alert-head"></div>
                <div class="adgurd-alert-text"></div>
                <div class="adgurd-alert-more"></div>
            </div>
        </div>
    </div>
</body>

</html>