<!doctype html>
<html lang="en">
<!-- Mirrored from demo.posthemes.com/pos_fastbuy/layout2/en/content/3-terms-and-conditions-of-use by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2018 05:05:34 GMT -->
<!-- Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Slow Down</title>
    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">    
    <link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all"> 
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <style type="text/css">
    .animation1 {
        -webkit-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    </style>

    <style>        
        /* Layout */
        .jumbotron {
          font-size: 21px;
          font-weight: 200;
          line-height: 2.1428571435;
          color: inherit;
          padding: 10px 0px;
        }
        /* Everything but the jumbotron gets side spacing for mobile-first views */
        .masthead, .body-content, {
          padding-left: 15px;
          padding-right: 15px;
        }
        /* Main marketing message and sign up button */
        .jumbotron {
          text-align: center;
          background-color: transparent;
        }
        .jumbotron .btn {
          font-size: 21px;
          padding: 14px 24px;
        }
        /* Colors */
        .green {color:#5cb85c;}
        .orange {color:#f0ad4e;}
        .red {color:#d9534f;}
        </style>


    
</head>

<body id="cms" class="lang-en country-us currency-eur layout-full-width page-cms tax-display-disabled cms-id-3">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
            <%- include layouts/header-bottom %>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <section id="wrapper">
            <div class="container">
                <div class="jumbotron">
                    <h1 style="font-size: 60px"><i class="fa fa-dashboard red"></i>  Slow Down</h1>
                    <h3>Rate Limit Exceeded.</h3>
                    <p class="lead">The web server is returning a rate limiting notification <em><span id="display-domain">Ours Website</span></em>.</p>                   
                    <a href="javascript:document.location.reload(true);" class="btn btn-outline-info"><span class="green">Try This Page Again</span></a>
                  </div>
            </div>
        </section>
        <%- include layouts/footer%>
    </main>  
    <script type="text/javascript" src="static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>  
</body>
</html>