<!-- JavaScript -->

	<!-- jQuery -->
	<script type="text/javascript" src="/static/admin/libs/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Data table JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/datatables/media/js/jquery.dataTables.min.js"></script>

	<!-- Slimscroll JavaScript -->
	<script type="text/javascript" src="/static/admin/js/jquery.slimscroll.js"></script>

	<!-- Progressbar Animation JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/waypoints/lib/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="/static/admin/libs/jquery.counterup/jquery.counterup.min.js"></script>

	<!-- Fancy Dropdown JS -->
	<script type="text/javascript" src="/static/admin/js/dropdown-bootstrap-extended.js"></script>

	<!-- Sparkline JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

	<!-- Owl JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/owl.carousel/dist/owl.carousel.min.js"></script>

	<!-- Switchery JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/switchery/dist/switchery.min.js"></script>

	<!-- EChartJS JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/echarts/dist/echarts-en.min.js"></script>
	<script type="text/javascript" src="/static/admin/libs/echarts-liquidfill.min.js"></script>

	<!-- Toast JavaScript -->
	<script type="text/javascript" src="/static/admin/libs/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

	<script type="text/javascript" src="/static/admin/js/dashboard-data.js"></script>
	
	<script type="text/javascript" src="/static/js/ntc.js"></script>

	<!-- Init JavaScript -->
	<script type="text/javascript" src="/static/admin/js/init.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

	<script type="text/javascript" src="/static/js/myFunc.js"></script>

	<script type="text/javascript">
		var socket = io.connect(window.location.host);
		function logout() {
			$.ajax({
				url: "/admin/sign-out",
				method: "PUT",
				success: (data) => {
					window.location.reload();
				},
				error: (err) => {
					window.location.reload();
				}
			})
		}

		function showNotification(heading, text, icon = 'success') {
			$.toast().reset('all');
			$("body").removeAttr('class');
			$.toast({
				heading: heading,
				text: text,
				position: 'top-right',
				loaderBg: '#fec107',
				icon: icon,
				hideAfter: 6000, 
				stack: 6,
				showHideTransition: 'fade'
			});
		}

		socket.on('login-success', (data) => {
			var user = data.user;

			var fullName = user.fullName.firstName + " " + user.fullName.lastName;

			if (!user || !fullName) { return }
			
			showNotification(`Alomobile xin chào ${fullName}!`, 'Chúc bạn một ngày vui vẻ.');
		});

		socket.on('new-order', (data) => {
			var order = data[0]
			var id = order._id;

			if (!order || !id) {
				return
			}

			showNotification(`Có một đơn hàng mới cần duyệt`, `Nhấn vào <a href="/admin/invoice/${id}">đây</a> để đi đến trang duyệt đơn hàng.`, 'success')
		});

		socket.on('new-comment', () => {
			showNotification(`Có một nhận xét mới cần duyệt`, `Nhấn vào <a href="/admin/reviews">đây</a> để đi đến trang duyệt nhận xét.`, 'success')
		});

	</script>

	
	