
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delivery</title>
    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">    
    <link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all"> 
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <style type="text/css">
    .animation1 {
        -webkit-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    </style>
</head>
        
<body id="my-account" class="lang-en country-us currency-usd layout-full-width page-my-account tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/">
                  <span itemprop="name">Home</span>
                </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
        Your account
      </h1>
                            </header>
                            <section id="content" class="page-content">
                                <aside id="notifications">
                                    <div class="container">
                                    </div>
                                </aside>
                                <div class="row">
                                    <div class="links">
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="my-informations.html">
              <span class="link-item">
                <i class="material-icons"></i>
                Information
              </span>
            </a>
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="address-link" href="my-addresses.html">
                <span class="link-item">
                  <i class="material-icons"></i>
                  My Addresses
                </span>
              </a>
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="history-link" href="my-order-history.html">
                <span class="link-item">
                  <i class="material-icons"></i>
                  Order history and details
                </span>
              </a>
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="order-slips-link" href="my-credit.html">
                <span class="link-item">
                  <i class="material-icons"></i>
                  Credit slips
                </span>
              </a>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <div class="text-sm-center">
                                    <a class="links_account" href="#">
              Sign out
            </a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>   
</body>

</html>