<div id="quickview-modal-5-19" class="modal fade quickview in" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-5">

                        <div class="images-container">

                            <div class="product-cover">
                                <img class="js-qv-product-cover" src="http://demo.posthemes.com/pos_fastbuy/layout2/242-medium_default/printed-summer-dress.jpg"
                                    alt="" title="" style="width:100%;" itemprop="image">
                                <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                    <i class="material-icons zoom-in"></i>
                                </div>
                            </div>



                            <div class="js-qv-mask mask pos_content">
                                <div class="product-images js-qv-product-images  owl-carousel owl-loaded owl-drag">




                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 443px;">
                                            <div class="owl-item active" style="width: 110.667px;">
                                                <div class="thumb-container">
                                                    <img class="thumb js-thumb " data-image-medium-src="http://demo.posthemes.com/pos_fastbuy/layout2/240-medium_default/printed-summer-dress.jpg"
                                                        data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/240-medium_default/printed-summer-dress.jpg"
                                                        src="http://demo.posthemes.com/pos_fastbuy/layout2/240-small_default/printed-summer-dress.jpg"
                                                        alt="" title="" width="100" itemprop="image">
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 110.667px;">
                                                <div class="thumb-container">
                                                    <img class="thumb js-thumb " data-image-medium-src="http://demo.posthemes.com/pos_fastbuy/layout2/241-medium_default/printed-summer-dress.jpg"
                                                        data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/241-medium_default/printed-summer-dress.jpg"
                                                        src="http://demo.posthemes.com/pos_fastbuy/layout2/241-small_default/printed-summer-dress.jpg"
                                                        alt="" title="" width="100" itemprop="image">
                                                </div>
                                            </div>
                                            <div class="owl-item active" style="width: 110.667px;">
                                                <div class="thumb-container">
                                                    <img class="thumb js-thumb  selected " data-image-medium-src="http://demo.posthemes.com/pos_fastbuy/layout2/242-medium_default/printed-summer-dress.jpg"
                                                        data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/242-medium_default/printed-summer-dress.jpg"
                                                        src="http://demo.posthemes.com/pos_fastbuy/layout2/242-small_default/printed-summer-dress.jpg"
                                                        alt="" title="" width="100" itemprop="image">
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 110.667px;">
                                                <div class="thumb-container">
                                                    <img class="thumb js-thumb " data-image-medium-src="http://demo.posthemes.com/pos_fastbuy/layout2/243-medium_default/printed-summer-dress.jpg"
                                                        data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/243-medium_default/printed-summer-dress.jpg"
                                                        src="http://demo.posthemes.com/pos_fastbuy/layout2/243-small_default/printed-summer-dress.jpg"
                                                        alt="" title="" width="100" itemprop="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-nav">
                                        <div class="owl-prev disabled">prev</div>
                                        <div class="owl-next">next</div>
                                    </div>
                                    <div class="owl-dots disabled"></div>
                                </div>
                            </div>

                        </div>

                        <script type="text/javascript"> 
                            $(document).ready(function () {
                                var owl = $("#product .images-container .product-images");
                                owl.owlCarousel({
                                    autoPlay: false,
                                    smartSpeed: 1000,
                                    autoplayHoverPause: true,
                                    nav: true,
                                    dots: false,
                                    responsive: {
                                        0: {
                                            items: 2,
                                        },
                                        480: {
                                            items: 3,
                                        },
                                        768: {
                                            items: 2,
                                            nav: false,
                                        },
                                        992: {
                                            items: 3,
                                        },
                                        1200: {
                                            items: 3,
                                        }
                                    }
                                });
                                var owl = $(".quickview .images-container .product-images");
                                owl.owlCarousel({
                                    autoPlay: false,
                                    smartSpeed: 1000,
                                    autoplayHoverPause: true,
                                    nav: true,
                                    dots: false,
                                    responsive: {
                                        0: {
                                            items: 2,
                                        },
                                        480: {
                                            items: 3,
                                        },
                                        768: {
                                            items: 2,
                                            nav: false,
                                        },
                                        992: {
                                            items: 3,
                                        },
                                        1200: {
                                            items: 3,
                                        }
                                    }
                                });
                            });
                        </script>


                        <div class="arrows js-arrows" style="display: none;">
                            <i class="material-icons arrow-up js-arrow-up"></i>
                            <i class="material-icons arrow-down js-arrow-down"></i>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <h1 class="h1 namne_details">Printed Summer Dress</h1>

                        <div class="product-prices">




                            <div class="product-price h5 " itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                <link itemprop="availability" href="https://schema.org/InStock">
                                <meta itemprop="priceCurrency" content="USD">

                                <div class="current-price">
                                    <span itemprop="price" content="30.5">$30.50</span>

                                </div>



                            </div>













                            <div class="tax-shipping-delivery-label">


                            </div>
                        </div>


                        <div id="product-description-short" itemprop="description">
                            <p>Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles
                                at the bottom of the dress.</p>
                        </div>


                        <div class="product-actions">
                            <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart" method="post" id="add-to-cart-or-refresh">
                                <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                <input type="hidden" name="id_product" value="5" id="product_page_product_id">
                                <input type="hidden" name="id_customization" value="0" id="product_customization_id">

                                <div class="product-variants">
                                    <div class="clearfix product-variants-item">
                                        <span class="control-label">Size</span>
                                        <select class="form-control form-control-select" id="group_1" data-product-attribute="1" name="group[1]">
                                            <option value="1" title="S" selected="selected">S</option>
                                            <option value="2" title="M">M</option>
                                            <option value="3" title="L">L</option>
                                        </select>
                                    </div>
                                    <div class="clearfix product-variants-item">
                                        <span class="control-label">Color</span>
                                        <ul id="group_3">
                                            <li class="float-xs-left input-container">
                                                <label>
                                                    <input class="input-color" type="radio" data-product-attribute="3" name="group[3]" value="11">
                                                    <span class="color" style="background-color: #434A54">
                                                        <span class="sr-only">Black</span>
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="float-xs-left input-container">
                                                <label>
                                                    <input class="input-color" type="radio" data-product-attribute="3" name="group[3]" value="13">
                                                    <span class="color" style="background-color: #F39C11">
                                                        <span class="sr-only">Orange</span>
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="float-xs-left input-container">
                                                <label>
                                                    <input class="input-color" type="radio" data-product-attribute="3" name="group[3]" value="14">
                                                    <span class="color" style="background-color: #5D9CEC">
                                                        <span class="sr-only">Blue</span>
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="float-xs-left input-container">
                                                <label>
                                                    <input class="input-color" type="radio" data-product-attribute="3" name="group[3]" value="16" checked="checked">
                                                    <span class="color" style="background-color: #F1C40F">
                                                        <span class="sr-only">Yellow</span>
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>



                                <div class="product-add-to-cart">
                                    <span class="control-label">Quantity</span>


                                    <div class="product-quantity clearfix">
                                        <div class="qty">
                                            <div class="input-group bootstrap-touchspin">
                                                <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                <input type="text" name="qty" id="quantity_wanted" value="1" class="input-group form-control"
                                                    min="1" aria-label="Quantity" style="display: block;">
                                                <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                                <span class="input-group-btn-vertical">
                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                        <i class="material-icons touchspin-up"></i>
                                                    </button>
                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down"
                                                        type="button">
                                                        <i class="material-icons touchspin-down"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="add">
                                            <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit">
                                                <i class="material-icons shopping-cart">add</i>
                                                Add to cart
                                            </button>
                                        </div>
                                    </div>



                                    <span id="product-availability">
                                        <i class="material-icons product-available"></i>
                                        In stock
                                    </span>



                                    <p class="product-minimal-quantity">
                                    </p>

                                </div>



                                <input class="product-refresh" data-url-update="false" name="refresh" type="submit" value="Refresh" hidden="">

                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="social-sharing">
                    <span>Share</span>
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/sharer.php?u=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                title="Share" target="_blank">
                                <i class="fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/tweet?text=Printed Summer Dress http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                title="Tweet" target="_blank">
                                <i class="fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                title="Google+" target="_blank">
                                <i class="fa-googleplus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.pinterest.com/pin/create/button/?media=http://demo.posthemes.com/pos_fastbuy/layout2/242/printed-summer-dress.jpg&amp;url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                title="Pinterest" target="_blank">
                                <i class="fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>