<!doctype html>
<html lang="en">
<!-- Mirrored from demo.posthemes.com/pos_fastbuy/layout2/en/login?create_account=1 by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2018 05:08:26 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng ký tài khoản</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/header.js"></script>
    <style type="text/css">
    .animation1 {
        -webkit-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    </style>
</head>

<body id="authentication" class="lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="index.html">
            <span itemprop="name">Trang chủ</span>
          </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1 style="text-align: center">
  Tạo tài khoản
</h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <section class="register-form">
                                    <p>Đã có tài khoản? <a href="/sign-in">Đăng nhập ngay!</a></p>
                                    <form action="" id="customer-form" class="js-customer-form" method="post">
                                        <section>
                                            <input type="hidden" name="id_customer" value="">
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                    Giới tính
                                                </label>
                                                <div class="col-md-6 form-control-valign">
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                             <input
                                                                name="id_gender"
                                                                type="radio"
                                                                value="1"
                                                                >
                                                                <span></span>
                                                        </span>
                                                        Nam
                                                    </label>
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                            <input
                                                            name="id_gender"
                                                            type="radio"
                                                            value="2"
                                                                                                >
                                                            <span></span>
                                                        </span>
                                                        Nữ
                                                    </label>
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                             <input
                                                                name="id_gender"
                                                                type="radio"
                                                                value="3"
                                                                >
                                                                <span></span>
                                                        </span>
                                                        Khác
                                                    </label>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Họ
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="firstname" type="text" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Tên
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="lastname" type="text" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Email
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="email" type="email" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Mật khẩu
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group js-parent-focus">
                                                        <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                    Ngày sinh
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="birthday" type="text" value="" placeholder="MM/DD/YYYY">
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                    Tuỳ chọn
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                </label>
                                                <div class="col-md-6">
                                                    <span class="custom-checkbox">
            <input name="optin" type="checkbox" value="1"  >
            <span><i class="material-icons checkbox-checked">&#xE5CA;</i></span>
                                                    <label>Đăng ký nhận tin mới qua email</label>
                                                    </span>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="form-footer clearfix">
                                            <input type="hidden" name="submitCreate" value="1">
                                            <button class="btn btn-secondary form-control-submit float-xs-right" data-link-action="save-customer" type="submit">
                                                Đăng ký ngay
                                            </button>
                                        </footer>
                                    </form>
                                </section>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
</html>