<footer id="footer">
    <div class="footer-container">
        <div class=" footer-top">
            <div class="ft_newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-5">
                            <h2>Đăng ký nhận tin</h2>
                            <span class="desc">Hãy là người biết đầu tiên. Đăng ký bản tin ngày hôm nay</span>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-7">
                            <form action="#" method="">
                                <div class="input-wrapper">
                                    <input name="email" class="input_txt" type="text" value="" placeholder="Nhập vào địa chỉ email của bạn">
                                </div>
                                <button class="btn btn-primary" name="submitNewsletter" type="button"><span>Đăng ký ngay !</span></button>
                                <input type="hidden" name="action" value="0">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                                <h3 class="h3 hidden-sm-down">SẢN PHẢM</h3>
                                <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_74483" data-toggle="collapse">
                                    <span class="float-xs-right">
          <span class="navbar-toggler collapse-icons">
            <i class="material-icons add">keyboard_arrow_down</i>
            <i class="material-icons remove">keyboard_arrow_up</i>
          </span>
                                    </span>
                                </div>
                                <ul id="footer_sub_menu_74483" class="footer_list collapse">
                                    <li>
                                        <a id="link-product-page-prices-drop-1" class="cms-page-link" href="prices-drop.html" title="On-sale products">
                                          Giảm giá
                                        </a>
                                    </li>
                                    <li>
                                        <a id="link-product-page-new-products-1" class="cms-page-link" href="new-products.html" title="Our new products">
              Sản phẩm mới
            </a>
                                    </li>
                                    <li>
                                        <a id="link-product-page-best-sales-1" class="cms-page-link" href="best-sales.html" title="Our best sales">
              Bán chạy
            </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 links footer_block">
                                <h3 class="h3 hidden-sm-down">CÔNG TY CHÚNG TÔI</h3>
                                <div class="title clearfix hidden-md-up" data-target="#footer_sub_menu_89484" data-toggle="collapse">
                                    <span class="float-xs-right">
          <span class="navbar-toggler collapse-icons">
            <i class="material-icons add">keyboard_arrow_down</i>
            <i class="material-icons remove">keyboard_arrow_up</i>
          </span>
                                    </span>
                                </div>
                                <ul id="footer_sub_menu_89484" class="footer_list collapse">
                                    <li>
                                        <a id="link-cms-page-1-2" class="cms-page-link" href="/chinh-sach-giao-hang" title="Các điều khoản và điều kiện giao hàng">
              Chính sách giao hàng
            </a>
                                    </li>
                                    <li>
                                        <a id="link-cms-page-2-2" class="cms-page-link" href="/chinh-sach-bao-hanh" title="Các chính sách bảo hành sản phẩm">
              Chính sách bảo hành
            </a>
                                    </li>
                                    <li>
                                        <a id="link-cms-page-3-2" class="cms-page-link" href="/cac-dieu-khoan-va-su-dung" title="Các điều khoản và điều kiện sử dụng">
              Các điều khoản và sử dụng
            </a>
                                    </li>
                                    <li>
                                        <a id="link-cms-page-4-2" class="cms-page-link" href="/ve-chung-toi" title="Tìm hiểu thêm về chúng tôi">
              Về chúng tôi
            </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-contact-2" class="cms-page-link" href="/contact-us" title="Cách thức để liên hệ với chúng tôi">
              Liên hệ
            </a>
                                    </li>
                                </ul>
                            </div>
                            <div id="block_myaccount_infos" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer_block links">
                                <h3 class="myaccount-title hidden-sm-down">
      TÀI KHOẢN
  </h3>
                                <div class="title clearfix hidden-md-up" data-target="#footer_account_list" data-toggle="collapse">
                                    </h3>
                                    <span class="float-xs-right">
      <span class="navbar-toggler collapse-icons">
        <i class="material-icons add">keyboard_arrow_down</i>
        <i class="material-icons remove">keyboard_arrow_up</i>
      </span>
                                    </span>
                                </div>
                                <ul class="footer_list collapse" id="footer_account_list">
                                    <li>
                                        <a id="link-static-page-authentication-1" class="cms-page-link" href="/sign-in" title="">
      Đăng nhập
    </a>
                                    </li>
                                    <li>
                                        <a id="link-static-page-my-account-1" class="cms-page-link" href="/tai-khoan-cua-toi" title="">
      Tài khoản của tôi
    </a>
                                    </li>
                                    <li>
                                        <a href="/my-addresses" title="Addresses" rel="nofollow">
            Địa chỉ
          </a>
                                    </li>
                                    <li>
                                        <a href="/my-orders" title="Orders" rel="nofollow">
            Đơn hàng
          </a>
                                    </li>
                                    <li>
                                        <a href="/my-informations" title="Personal info" rel="nofollow">
            Thông tin cá nhân
          </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
                        <div class="about_us ">
                            <div class="logo_footer"><a href="javascript: void(0)"><img class="lazyload" data-src="/static/img/logo-2.png" alt="" /> </a></div>
                            <div class=" footer-info">
                                <div class="desc_footer">Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng</div>
                                <div class="address_footer">
                                    <h2>Thông tin liên hệ:</h2>
                                    <p>admin@alomobile.tech</p>
                                </div>
                            </div>
                        </div>
                        <div class="social_follow">
                            <ul>
                                <li class="facebook"><a href="javascript: void(0)" target="_blank">Facebook</a></li>
                                <li class="twitter"><a href="javascript: void(0)" target="_blank">Twitter</a></li>
                                <li class="youtube"><a href="javascript: void(0)" target="_blank">YouTube</a></li>
                                <li class="googleplus"><a href="javascript: void(0)" target="_blank">Google +</a></li>
                                <li class="instagram"><a href="javascript: void(0)" target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tag_payment">
                <div class="container">
                    <div class="tag_content" style="text-align: center;"><a href="javascript: void(0)">Mua sắm trực tuyến</a> <a href="javascript: void(0)">Khuyến mãi</a> <a href="javascript: void(0)">Hoá đơn của tôi</a> <a href="javascript: void(0)">Giúp đỡ</a> <a href="javascript: void(0)">Dịch vụ khách hàng</a> <a href="javascript: void(0)">Hỗ trợ</a> <a href="javascript: void(0)">Sản phẩm phổ biến</a> <a href="javascript: void(0)">Sản phẩm mới</a> <a href="javascript: void(0)">Sản phẩm đặc biệt</a> <a href="javascript: void(0)">Nhà sản xuất</a> <a href="javascript: void(0)">Shipping</a> <a href="javascript: void(0)">Thanh toán</a> <a href="javascript: void(0)">Bảo hành</a> <a href="javascript: void(0)">Hoàn trả</a><a href="javascript: void(0)">Các điều khoản và sử dụng</a> <a href="javascript: void(0)">Chính sách</a></div>
                    <div class="payment" style=" text-align: center;"><img class="lazyload" data-src="/static/img/payment.jpg" alt="" class="img-responsive" /></div>
                </div>
            </div>
        </div>
        <div class=" footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyright col-xs-12 col-sm-12 col-md-6 ">Copyright <i class="icon-copyright"></i> <a href="https://facebook.com/trandangngocthanh">Trần Đặng Ngọc Thanh</a>. All Rights Reserved</div>
                    <div class="links-footer col-xs-12 col-sm-12 col-md-6"><a href="/">Trang chủ</a> <a href="/ve-chung-toi">Giới thiệu</a> <a href="/">Cửa hàng</a> <a href="/contact-us">Liên hệ</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/static/js/myFunc.js"></script>
<!-- jsDeliver -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script type "text/javascript">
var socket = io.connect(window.location.host, { path: '/socket.io',
      transports: ['websocket'],
      secure: true });
$(document).ready(($) => {
    lazyload();
});
</script>