<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="header_logo col col-lg-3 col-md-12 col-xs-12">
                <a href="/">
            <img class="logo img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/fastbuy2-responsive-prestashop-theme-logo-15126177682.jpg" alt="Alomobile">
          </a>
            </div>
            <div class="col col-xs-12 col-lg-9 col-md-12 display_top">
                <div class="blockcart cart-preview dropdown js-dropdown" data-refresh-url="//demo.posthemes.com/pos_fastbuy/layout2/en/module/ps_shoppingcart/ajax">
                    <div class="header" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                        <a rel="nofollow" href="cart.html">
        <span class="item_txt">My Cart <span class="item_count">2</span></span>
        <span class="item_total">$52.69</span>
    </a>
                    </div>
                    <div class="body dropdown-menu" style="display: hidden;">
                        <ul>
                            <li>
                                <div class="img_content">
                                    <img class="product-image img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/237-side_default/printed-summer-dress.jpg" alt="" title="">
                                    <span class="product-quantity">1x</span>
                                </div>
                                <div class="right_block">
                                    <span class="product-name">Printed Summer Dress</span>
                                    <span class="product-price">$30.50</span>
                                    <a class="remove-from-cart" rel="nofollow" href="#" title="Remove from cart">
                                            <i class="fa-remove"></i>
                                        </a>
                                    <div class="attributes_content">
                                        <span><strong>Size</strong>: S</span>
                                        <br>
                                        <span><strong>Color</strong>: Yellow</span>
                                        <br>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img_content">
                                    <img class="product-image img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/256-side_default/faded-short-sleeves-tshirt.jpg" alt="" title="">
                                    <span class="product-quantity">1x</span>
                                </div>
                                <div class="right_block">
                                    <span class="product-name">Faded Short Sleeves T-shirt</span>
                                    <span class="product-price">$15.19</span>
                                    <a class="remove-from-cart" rel="nofollow" href="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart?delete=1&amp;id_product=1&amp;id_product_attribute=1&amp;token=ab378079e5855a38465963bba8a75c1b" data-link-action="remove-from-cart" title="Remove from cart">
                                            <i class="fa-remove"></i>
                                        </a>
                                    <div class="attributes_content">
                                        <span><strong>Size</strong>: S</span>
                                        <br>
                                        <span><strong>Color</strong>: Orange</span>
                                        <br>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="price_content">
                            <div class="cart-subtotals">
                                <div class="products price_inline">
                                    <span class="label">Subtotal</span>
                                    <span class="value">$45.69</span>
                                </div>
                                <div class=" price_inline">
                                    <span class="label"></span>
                                    <span class="value"></span>
                                </div>
                                <div class="shipping price_inline">
                                    <span class="label">Shipping</span>
                                    <span class="value">$7.00</span>
                                </div>
                                <div class="tax price_inline">
                                    <span class="label">Taxes</span>
                                    <span class="value">$0.00</span>
                                </div>
                            </div>
                            <div class="cart-total price_inline">
                                <span class="label">Total</span>
                                <span class="value">$52.69</span>
                            </div>
                        </div>
                        <div class="checkout">
                            <a href="cart" class="btn btn-primary">Checkout</a>
                        </div>
                    </div>
                </div>
                <!-- pos search module TOP -->
                <div id="pos_search_top" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <form method="get" action="" id="searchbox" class="form-inline form_search">
                        <label for="pos_query_top">
                            <!-- image on background -->
                        </label>
                        <input type="hidden" name="controller" value="search">
                        <div class="pos_search form-group">
                            <select class="bootstrap-select" name="poscats">
                                <option value="0">All categories</option>
                                <option value="12">
                                    Electronics
                                </option>
                                <option value="23">
                                    - - Cameras
                                </option>
                                <option value="27">
                                    - - - - Cords and Cables
                                </option>
                                <option value="28">
                                    - - - - gps accessories
                                </option>
                                <option value="29">
                                    - - - - Microphones
                                </option>
                                <option value="30">
                                    - - - - Wireless Transmitters
                                </option>
                                <option value="24">
                                    - - GamePad
                                </option>
                                <option value="31">
                                    - - - - cube lifestyle hd
                                </option>
                                <option value="32">
                                    - - - - gopro hero4
                                </option>
                                <option value="33">
                                    - - - - handycam cx405
                                </option>
                                <option value="34">
                                    - - - - vixia hf r600
                                </option>
                                <option value="25">
                                    - - Digital Cameras
                                </option>
                                <option value="35">
                                    - - - - Gold eye
                                </option>
                                <option value="36">
                                    - - - - Questek
                                </option>
                                <option value="37">
                                    - - - - Snm
                                </option>
                                <option value="38">
                                    - - - - Vantech
                                </option>
                                <option value="26">
                                    - - Virtual Reality
                                </option>
                                <option value="39">
                                    - - - - Samsung
                                </option>
                                <option value="40">
                                    - - - - Toshiba
                                </option>
                                <option value="41">
                                    - - - - Transcend
                                </option>
                                <option value="42">
                                    - - - - Sandisk
                                </option>
                                <option value="13">
                                    Book
                                </option>
                                <option value="43">
                                    - - Children&#039;s Books
                                </option>
                                <option value="45">
                                    - - - - Early Learning
                                </option>
                                <option value="46">
                                    - - - - Animals
                                </option>
                                <option value="47">
                                    - - - - Action &amp; Adventure
                                </option>
                                <option value="48">
                                    - - - - Education &amp; Reference
                                </option>
                                <option value="44">
                                    - - comic book
                                </option>
                                <option value="49">
                                    - - - - Superhero
                                </option>
                                <option value="50">
                                    - - - - Slice-of-Life
                                </option>
                                <option value="51">
                                    - - - - Humor
                                </option>
                                <option value="52">
                                    - - - - Science-Fiction
                                </option>
                                <option value="14">
                                    Home &amp; Kitchen
                                </option>
                                <option value="53">
                                    - - Large Appliances
                                </option>
                                <option value="55">
                                    - - - - Armchairs
                                </option>
                                <option value="56">
                                    - - - - Bunk Bed
                                </option>
                                <option value="57">
                                    - - - - Mattress
                                </option>
                                <option value="58">
                                    - - - - Sideboard
                                </option>
                                <option value="54">
                                    - - Small Appliances
                                </option>
                                <option value="59">
                                    - - - - Bootees Bags
                                </option>
                                <option value="60">
                                    - - - - Jackets
                                </option>
                                <option value="61">
                                    - - - - Shelf
                                </option>
                                <option value="62">
                                    - - - - Shoes
                                </option>
                                <option value="83">
                                    - - Drinkware
                                </option>
                                <option value="85">
                                    - - - - Tour Drinkware
                                </option>
                                <option value="86">
                                    - - - - Hatch Drinkware
                                </option>
                                <option value="87">
                                    - - - - Direction Drinkware
                                </option>
                                <option value="88">
                                    - - - - Crescent Drinkware
                                </option>
                                <option value="84">
                                    - - Cookware
                                </option>
                                <option value="89">
                                    - - - - Cookware Brands
                                </option>
                                <option value="90">
                                    - - - - Cookware Sets
                                </option>
                                <option value="91">
                                    - - - - Individual Cookware
                                </option>
                                <option value="92">
                                    - - - - Enamel Cookware
                                </option>
                                <option value="15">
                                    Phones &amp; Tablets
                                </option>
                                <option value="63">
                                    - - Tablet
                                </option>
                                <option value="65">
                                    - - - - Samsung
                                </option>
                                <option value="66">
                                    - - - - LG
                                </option>
                                <option value="67">
                                    - - - - Apple
                                </option>
                                <option value="68">
                                    - - - - Sony
                                </option>
                                <option value="64">
                                    - - Smartphone
                                </option>
                                <option value="69">
                                    - - - - Nokia
                                </option>
                                <option value="70">
                                    - - - - Sony
                                </option>
                                <option value="71">
                                    - - - - Apple
                                </option>
                                <option value="72">
                                    - - - - Samsung
                                </option>
                                <option value="16">
                                    Furnitured
                                </option>
                                <option value="73">
                                    - - bedroom
                                </option>
                                <option value="75">
                                    - - - - Bed
                                </option>
                                <option value="76">
                                    - - - - lamp
                                </option>
                                <option value="77">
                                    - - - - Mattress Sets
                                </option>
                                <option value="78">
                                    - - - - Home Office
                                </option>
                                <option value="74">
                                    - - livingroom
                                </option>
                                <option value="79">
                                    - - - - chair
                                </option>
                                <option value="80">
                                    - - - - table
                                </option>
                                <option value="81">
                                    - - - - carpet
                                </option>
                                <option value="82">
                                    - - - - Sofa
                                </option>
                                <option value="17">
                                    Video games
                                </option>
                                <option value="18">
                                    Sport &amp; tourisim
                                </option>
                                <option value="19">
                                    Fruits &amp; Veggies
                                </option>
                                <option value="20">
                                    Computer &amp; Laptop
                                </option>
                                <option value="21">
                                    Meat &amp; Seafood
                                </option>
                                <option value="22">
                                    Accessories
                                </option>
                            </select>
                        </div>
                        <input type="text" name="s" value="" placeholder="Enter your search key ... " id="pos_query_top" class="search_query form-control ac_input">
                        <button type="submit" class="btn btn-default search_submit">
                            <i class="material-icons">search</i>
                        </button>
                    </form>
                </div>
                <!-- /pos search module TOP -->
            </div>
        </div>
    </div>
</div>