<nav class="header-nav">
    <div class="container">
        <div class="user-info-block">
            <a href="/my-account" id="my-account" rel="nofollow">Tài khoản của tôi</a>
            <a href="/cart" id="cart">Thanh toán</a>

            <% if (data.user) { %>             
                <a href="javascript: logout()" title="Đăng xuất tài khoản của bạn" rel="nofollow">
                    <span id="logout">Đăng xuất</span>
                </a>
                <a class="account" href="/my-account" title="View my customer account" rel="nofollow">                    
                    <span id="fullName"> <%-  data.user.fullName.firstName + " " + data.user.fullName.lastName %> </span>
                </a>
            <% } else { %>
                <a href="/sign-in" title="Log in to your customer account" rel="nofollow">
                    <span id="sign-in">Đăng nhập</span>
                </a>
            <% } %> 
                
        </div>
    </div>
</nav>