<nav class="header-nav">
    <div class="container">
        <div class="user-info-block">
            <a href="/my-account" rel="nofollow">My account</a>
            <a href="/cart">Checkout</a>
            <a href="/sign-in" title="Log in to your customer account" rel="nofollow">
    <span class="">Sign in</span>
  </a>
        </div>
    </div>
</nav>