<div class="header-bottom">
    <div class="megamenu">
        <div class="container">
            <!-- Block categories module -->
            <div class="ma-nav-mobile-container hidden-lg-up">
                <div class="pt_custommenu_mobile">
                    <div class="navbar">
                        <div id="navbar-inner" class="navbar-inner navbar-inactive">
                            <a class="btn-navbar">Danh mục</a>
                            <ul id="pt_custommenu_itemmobile" class="tree dhtml  mobilemenu nav-collapse collapse">                             
                                <li><a href="15-phones-tablets.html">Phones &amp; Tablets </a>
                                    <ul class="dhtml">
                                        <li><a href="63-tablet.html">Tablet </a>
                                            <ul>
                                                <li><a href="65-samsung.html">Samsung </a>
                                                    <li><a href="66-lg.html">LG </a>
                                                        <li><a href="67-apple.html">Apple </a>
                                                            <li><a href="68-sony.html">Sony </a>
                                            </ul>
                                            <li><a href="64-smartphone.html">Smartphone </a>
                                                <ul>
                                                    <li><a href="69-nokia.html">Nokia </a>
                                                        <li><a href="70-sony.html">Sony </a>
                                                            <li><a href="71-apple.html">Apple </a>
                                                                <li><a href="72-samsung.html">Samsung </a>
                                                </ul>
                                    </ul>
                                </li>

                                <li><a href="16-furnitured.html">Furnitured </a>
                                    <ul class="dhtml">
                                        <li><a href="73-bedroom.html">bedroom </a>
                                            <ul>
                                                <li><a href="75-bed.html">Bed </a>
                                                    <li><a href="76-lamp.html">lamp </a>
                                                        <li><a href="77-mattress-sets.html">Mattress Sets </a>
                                                            <li><a href="78-home-office.html">Home Office </a>
                                            </ul>
                                            <li><a href="74-livingroom.html">livingroom </a>
                                                <ul>
                                                    <li><a href="79-chair.html">chair </a>
                                                        <li><a href="80-table.html">table </a>
                                                            <li><a href="81-carpet.html">carpet </a>
                                                                <li><a href="82-sofa.html">Sofa </a>
                                                </ul>
                                    </ul>
                                </li>
                                <li><a href="17-video-games.html">Video games </a>
                                </li>
                                <li><a href="18-sport-tourisim.html">Sport &amp; tourisim </a>
                                </li>
                                <li><a href="19-fruits-veggies.html">Fruits &amp; Veggies </a>
                                </li>
                                <li><a href="20-computer-laptop.html">Computer &amp; Laptop </a>
                                </li>
                                <li><a href="21-meat-seafood.html">Meat &amp; Seafood </a>
                                </li>
                                <li><a href="22-accessories.html">Accessories </a>
                                </li>
                                <li class="cms">
                                    <a href="/delivery" title="Contains Subs">Delivery</a>
                                </li>
                                <li class="cms">
                                    <a href="/legal-notice" title="Contains Subs">Legal Notice</a>
                                </li>
                                <li class="cms">
                                    <a href="/terms-and-conditions-of-use" title="Contains Subs">Terms and conditions of use</a>
                                </li>
                                <li class="cms">
                                    <a href="/about-us" title="Contains Subs">About us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Block categories module -->
            <div class="nav-container hidden-md-down">
                <div class="nav-inner">
                    <div id="pt_custommenu" class="pt_custommenu">
                        <div id="pt_menu_home" class="pt_menu act">
                            <div class="parentMenu"><a class="fontcustom2" href="/"><span>Trang chủ</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/delivery"><span>Chính sách giao hàng</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/legal-notice"><span>Chính sách bảo hành</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/terms-and-conditions-of-use"><span>Các điều khoản và sử dụng</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/about-us"><span>Về chúng tôi</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            //<![CDATA[
            var CUSTOMMENU_POPUP_EFFECT = 1;
            var CUSTOMMENU_POPUP_TOP_OFFSET = 60;
            //]]>
            </script>
        </div>
    </div>
</div>