<div class="header-bottom">
    <div class="megamenu">
        <div class="container">
            <!-- Block categories module -->
            <div class="ma-nav-mobile-container hidden-lg-up">
                <div class="pt_custommenu_mobile">
                    <div class="navbar">
                        <div id="navbar-inner" class="navbar-inner navbar-inactive">
                            <a class="btn-navbar">Category</a>
                            <ul id="pt_custommenu_itemmobile" class="tree dhtml  mobilemenu nav-collapse collapse">
                                <li><a href="12-electronics.html">Electronics </a>
                                    <ul class="dhtml">
                                        <li><a href="23-cameras.html">Cameras </a>
                                            <ul>
                                                <li><a href="27-cords-and-cables.html">Cords and Cables </a>
                                                    <li><a href="28-gps-accessories.html">gps accessories </a>
                                                        <li><a href="29-microphones.html">Microphones </a>
                                                            <li><a href="30-wireless-transmitters.html">Wireless Transmitters </a>
                                            </ul>
                                            <li><a href="24-gamepad.html">GamePad </a>
                                                <ul>
                                                    <li><a href="31-cube-lifestyle-hd.html">cube lifestyle hd </a>
                                                        <li><a href="32-gopro-hero4.html">gopro hero4 </a>
                                                            <li><a href="33-handycam-cx405.html">handycam cx405 </a>
                                                                <li><a href="34-vixia-hf-r600.html">vixia hf r600 </a>
                                                </ul>
                                                <li><a href="25-digital-cameras.html">Digital Cameras </a>
                                                    <ul>
                                                        <li><a href="35-gold-eye.html">Gold eye </a>
                                                            <li><a href="36-questek.html">Questek </a>
                                                                <li><a href="37-snm.html">Snm </a>
                                                                    <li><a href="38-vantech.html">Vantech </a>
                                                    </ul>
                                                    <li><a href="26-virtual-reality.html">Virtual Reality </a>
                                                        <ul>
                                                            <li><a href="39-samsung.html">Samsung </a>
                                                                <li><a href="40-toshiba.html">Toshiba </a>
                                                                    <li><a href="41-transcend.html">Transcend </a>
                                                                        <li><a href="42-sandisk.html">Sandisk </a>
                                                        </ul>
                                    </ul>
                                    </li>
                                    <li><a href="13-book.html">Book </a>
                                        <ul class="dhtml">
                                            <li><a href="43-children-s-books.html">Children&#039;s Books </a>
                                                <ul>
                                                    <li><a href="45-early-learning.html">Early Learning </a>
                                                        <li><a href="46-animals.html">Animals </a>
                                                            <li><a href="47-action-adventure.html">Action &amp; Adventure </a>
                                                                <li><a href="48-education-reference.html">Education &amp; Reference </a>
                                                </ul>
                                                <li><a href="44-comic-book.html">comic book </a>
                                                    <ul>
                                                        <li><a href="49-superhero.html">Superhero </a>
                                                            <li><a href="50-slice-of-life.html">Slice-of-Life </a>
                                                                <li><a href="51-humor.html">Humor </a>
                                                                    <li><a href="52-science-fiction.html">Science-Fiction </a>
                                                    </ul>
                                        </ul>
                                        </li>
                                        <li><a href="14-home-kitchen.html">Home &amp; Kitchen </a>
                                            <ul class="dhtml">
                                                <li><a href="53-large-appliances.html">Large Appliances </a>
                                                    <ul>
                                                        <li><a href="55-armchairs.html">Armchairs </a>
                                                            <li><a href="56-bunk-bed.html">Bunk Bed </a>
                                                                <li><a href="57-mattress.html">Mattress </a>
                                                                    <li><a href="58-sideboard.html">Sideboard </a>
                                                    </ul>
                                                    <li><a href="54-small-appliances.html">Small Appliances </a>
                                                        <ul>
                                                            <li><a href="59-bootees-bags.html">Bootees Bags </a>
                                                                <li><a href="60-jackets.html">Jackets </a>
                                                                    <li><a href="61-shelf.html">Shelf </a>
                                                                        <li><a href="62-shoes.html">Shoes </a>
                                                        </ul>
                                                        <li><a href="83-drinkware.html">Drinkware </a>
                                                            <ul>
                                                                <li><a href="85-tour-drinkware.html">Tour Drinkware </a>
                                                                    <li><a href="86-hatch-drinkware.html">Hatch Drinkware </a>
                                                                        <li><a href="87-direction-drinkware.html">Direction Drinkware </a>
                                                                            <li><a href="88-crescent-drinkware.html">Crescent Drinkware </a>
                                                            </ul>
                                                            <li><a href="84-cookware.html">Cookware </a>
                                                                <ul>
                                                                    <li><a href="89-cookware-brands.html">Cookware Brands </a>
                                                                        <li><a href="90-cookware-sets.html">Cookware Sets </a>
                                                                            <li><a href="91-individual-cookware.html">Individual Cookware </a>
                                                                                <li><a href="92-enamel-cookware.html">Enamel Cookware </a>
                                                                </ul>
                                            </ul>
                                            </li>
                                            <li><a href="15-phones-tablets.html">Phones &amp; Tablets </a>
                                                <ul class="dhtml">
                                                    <li><a href="63-tablet.html">Tablet </a>
                                                        <ul>
                                                            <li><a href="65-samsung.html">Samsung </a>
                                                                <li><a href="66-lg.html">LG </a>
                                                                    <li><a href="67-apple.html">Apple </a>
                                                                        <li><a href="68-sony.html">Sony </a>
                                                        </ul>
                                                        <li><a href="64-smartphone.html">Smartphone </a>
                                                            <ul>
                                                                <li><a href="69-nokia.html">Nokia </a>
                                                                    <li><a href="70-sony.html">Sony </a>
                                                                        <li><a href="71-apple.html">Apple </a>
                                                                            <li><a href="72-samsung.html">Samsung </a>
                                                            </ul>
                                                </ul>
                                                </li>
                                                <li><a href="16-furnitured.html">Furnitured </a>
                                                    <ul class="dhtml">
                                                        <li><a href="73-bedroom.html">bedroom </a>
                                                            <ul>
                                                                <li><a href="75-bed.html">Bed </a>
                                                                    <li><a href="76-lamp.html">lamp </a>
                                                                        <li><a href="77-mattress-sets.html">Mattress Sets </a>
                                                                            <li><a href="78-home-office.html">Home Office </a>
                                                            </ul>
                                                            <li><a href="74-livingroom.html">livingroom </a>
                                                                <ul>
                                                                    <li><a href="79-chair.html">chair </a>
                                                                        <li><a href="80-table.html">table </a>
                                                                            <li><a href="81-carpet.html">carpet </a>
                                                                                <li><a href="82-sofa.html">Sofa </a>
                                                                </ul>
                                                    </ul>
                                                    </li>
                                                    <li><a href="17-video-games.html">Video games </a>
                                                    </li>
                                                    <li><a href="18-sport-tourisim.html">Sport &amp; tourisim </a>
                                                    </li>
                                                    <li><a href="19-fruits-veggies.html">Fruits &amp; Veggies </a>
                                                    </li>
                                                    <li><a href="20-computer-laptop.html">Computer &amp; Laptop </a>
                                                    </li>
                                                    <li><a href="21-meat-seafood.html">Meat &amp; Seafood </a>
                                                    </li>
                                                    <li><a href="22-accessories.html">Accessories </a>
                                                    </li>
                                                    <li class="cms">
                                                        <a href="delivery" title="Contains Subs">Delivery</a>
                                                    </li>
                                                    <li class="cms">
                                                        <a href="legal-notice" title="Contains Subs">Legal Notice</a>
                                                    </li>
                                                    <li class="cms">
                                                        <a href="terms-and-conditions-of-use" title="Contains Subs">Terms and conditions of use</a>
                                                    </li>
                                                    <li class="cms">
                                                        <a href="about-us" title="Contains Subs">About us</a>
                                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Block categories module -->
            <div class="nav-container hidden-md-down">
                <div class="nav-inner">
                    <div id="pt_custommenu" class="pt_custommenu">
                        <div id="pt_menu_home" class="pt_menu act">
                            <div class="parentMenu"><a class="fontcustom2" href="/"><span>Home</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="delivery"><span>Delivery</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="legal-notice"><span>Legal Notice</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="terms-and-conditions-of-use"><span>Terms and conditions of use</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="about-us"><span>About us</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            //<![CDATA[
            var CUSTOMMENU_POPUP_EFFECT = 0;
            var CUSTOMMENU_POPUP_TOP_OFFSET = 60;
            //]]>
            </script>
        </div>
    </div>
</div>