<nav class="header-nav">
    <div class="container">
        <div class="user-info-block">
            <a href="/my-account" rel="nofollow">Tài khoản của tôi</a>
            <a href="/cart">Thanh toán</a>
            <a href="/sign-in" title="Log in to your customer account" rel="nofollow">
    <span class="">Đăng nhập</span>
  </a>
        </div>
    </div>
</nav>