<nav class="header-nav">
    <div class="container">
        <div class="user-info-block">
            <a href="my-account.html" rel="nofollow">My account</a>
            <a href="cart.html">Checkout</a>
            <a href="login.html" title="Log in to your customer account" rel="nofollow">
    <span class="">Sign in</span>
  </a>
        </div>
    </div>
</nav>